<div id="shopify-section-announcement-bar" class="shopify-section">

  <style>

    .notification-bar{
      background-color: #fc4c02;
      color: #ffffff;
    }

    .notification-bar a{
      color: #ffffff;
    }

    #site-title{
    	padding: px;
    }

</style>

  <div class="notification-bar">
      
        <div class="notification-bar__message custom-font"><p><strong>FREE SHIPPING</strong> on ALL Chairs&nbsp;to contiguous&nbsp;USA! Along with a <strong>15%</strong> off for Father's Day. Promo code - <strong>POPS</strong>. Valid until 6/21</p></div>
      
  </div>



</div>