{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/configure/240315/edit
{% endcomment %}
{% if product.metafields.custom_fields["steel_frame"] != blank %}
  <div class="custom-field custom-field__steel-frame custom-field__type--text">
    <h3 class="custom-field--title">Steel Frame</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["steel_frame"] }}
    </div>
  </div>
{% endif %}