{% if product.metafields.custom_fields["youtube_section_image"] != blank %}
  <div class="custom-field custom-field__youtube-section-image custom-field__type--image">
    <h3 class="custom-field--title">Youtube Section Image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["youtube_section_image"], print: 'url' %}
    </div>
  </div>
{% endif %}