{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/edit-field/7887
{% endcomment %}
{% if product.metafields.custom_fields["color_5_image"] != blank %}
  <div class="custom-field custom-field__color-5-image custom-field__type--image">
    <h3 class="custom-field--title">Color 5 Image</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["color_5_image"] }}
    </div>
  </div>
{% endif %}