{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/edit-field/7979
{% endcomment %}
{% if product.metafields.custom_fields["spec_value_12"] != blank %}
  <div class="custom-field custom-field__spec-value-12 custom-field__type--text">
    <h3 class="custom-field--title">Spec Value 12</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec_value_12"] }}
    </div>
  </div>
{% endif %}