{% if product.metafields.custom_fields["youtube_embed_url"] != blank %}
  <div class="custom-field custom-field__youtube-embed-url custom-field__type--url">
    <h3 class="custom-field--title">Youtube Embed Url</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["youtube_embed_url"] }}
    </div>
  </div>
{% endif %}