{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/edit-field/47474
{% endcomment %}
{% if product.metafields.custom_fields["product_warranty"] != blank %}
  <div class="custom-field custom-field__product-warranty custom-field__type--html">
    <h3 class="custom-field--title">Product Warranty</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_warranty"] }}
    </div>
  </div>
{% endif %}