{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/configure/240020/edit
{% endcomment %}
{% if product.metafields.custom_fields["construction__materials"] != blank %}
  <div class="custom-field custom-field__construction__materials custom-field__type--field-collection">
    <h3 class="custom-field--title">Construction & Materials</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign c_m_image_array = product.metafields.custom_fields["c_m_image"] | split: separator %}
      {% assign c_m_title_array = product.metafields.custom_fields["c_m_title"] | split: separator %}
      {% assign c_m_desc_array = product.metafields.custom_fields["c_m_desc"] | split: separator %}
      {% assign fc_keys = product.metafields.custom_fields["construction__materials"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__c-m-image">
            {{ c_m_image_array[index] }}
          </div>
          <div class="fc-field field__c-m-title">
            {{ c_m_title_array[index] }}
          </div>
          <div class="fc-field field__c-m-desc">
            {{ c_m_desc_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}