{% if product.metafields.custom_fields["specifications_accordion"] != blank %}
  <div class="custom-field custom-field__specifications-accordion custom-field__type--field-collection-json">
    <h3 class="custom-field--title">Specifications</h3>
    <div class="custom-field--value">
      {% for item in product.metafields.custom_fields["specifications_accordion"] %}
        <div class="fc-item fc-index--{{ forloop.index0 }}">
           {% if item["name"] != blank %}
             <div class="fc-field field__name field-type--text">
               <h4 class="custom-field--title">Name</h4>
               <div class="custom-field--value">
                 {{ item["name"] }}
               </div>
             </div>
           {% endif %}
           {% if item["content"] != blank %}
             <div class="fc-field field__content field-type--text">
               <h4 class="custom-field--title">content</h4>
               <div class="custom-field--value">
                 {{ item["content"] }}
               </div>
             </div>
           {% endif %}
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}