{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/configure/240312/edit
{% endcomment %}
{% if product.metafields.custom_fields["heavy_duty_base"] != blank %}
  <div class="custom-field custom-field__heavy-duty-base custom-field__type--text">
    <h3 class="custom-field--title">Heavy Duty Base</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["heavy_duty_base"] }}
    </div>
  </div>
{% endif %}