{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/edit-field/7947
{% endcomment %}
{% if product.metafields.custom_fields["reviews_logo_10"] != blank %}
  <div class="custom-field custom-field__reviews-logo-10 custom-field__type--image">
    <h3 class="custom-field--title">Reviews Logo 10</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["reviews_logo_10"] }}
    </div>
  </div>
{% endif %}