{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/edit-field/7820
{% endcomment %}
{% if product.metafields.custom_fields["title"] != blank %}
  <div class="custom-field custom-field__title custom-field__type--text">
    <h3 class="custom-field--title">Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["title"] }}
    </div>
  </div>
{% endif %}