{% if product.metafields.custom_fields["personalized_service_image"] != blank %}
  <div class="custom-field custom-field__personalized-service-image custom-field__type--image">
    <h3 class="custom-field--title">Personalized Service Image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["personalized_service_image"], print: 'url' %}
    </div>
  </div>
{% endif %}