{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/vertagear.myshopify.com/products/edit-field/47473
{% endcomment %}
{% if product.metafields.custom_fields["product_adjustability"] != blank %}
  <div class="custom-field custom-field__product-adjustability custom-field__type--image">
    <h3 class="custom-field--title">Product Adjustability</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_adjustability"] }}
    </div>
  </div>
{% endif %}