{% if product.metafields.custom_fields["is_rgb_kit_product"] != blank %}
  <div class="custom-field custom-field__is-rgb-kit-product custom-field__type--checkbox">
    <h3 class="custom-field--title">RGB KIT Product Check</h3>
    <div class="custom-field--value">
      {% if product.metafields.custom_fields["is_rgb_kit_product"] == 1 %}
        TRUE
      {% else %}
        FALSE
      {% endif %}
    </div>
  </div>
{% endif %}