<div class="discount-term vertagear-container">
    <div class="discount-term__left">
        <div class="discount-term__left-img">
            <img src='{{terms_img | img_url : 'master' }}' class="discount-term__left-img-inner" alt>
        </div>
    </div>
    <div class="discount-term__right">
        <div class="discount-term__right-title">
            Terms and Conditions
        </div>
        <div class="discount-term__right-desc">
          	{{terms_desc}}
        </div>
    </div>
</div>