<div class="discount-desc vertagear-container" id="main-content">
    <div class="discount-desc__left">
        <div class="discount-desc__left-slogan">
            Get <span class="discount-desc__left-slogan-accent">20% OFF</span> your<br>purchase now!
        </div>
    </div>
    <div class="discount-desc__right">
        <div class="discount-desc__right-title">
<!--             We got you! -->
          {{title}}
        </div>
        <div class="discount-desc__right-desc">
          	{{desc}}
<!--             Learning is a lifelong journey. As a student, you face challenges every day, both in and out of the classroom. With our new Student Program, we're here to aid you in your quest for education and gaming by providing you easy access to our award-winning products. Whether you're studying or grinding through games, feel at ease in our ergonomic gaming chairs.<br><br>
            Upon uploading a valid student ID, you'll be given a unique discount code that'll give you an instant <b>20% off</b> your purchase. Simply register and upload your valid student ID. You'll become a part of a students-only club that gives you access to savings and allows you to be first in line for giveaways and promotions. -->
        </div>
    </div>
</div>