<div id="shopify-section-fe800-signatures_2" class="shopify-section fp-section fp-table fe800-signatures">
    <div class="signatures-item origin" id="signatures-{{ order }}">
        <div class="signatures-topbar" popip="seat">
            <div class="title"><span>VERTAGEAR SIGNATURES</span> VertaAir<sup>TM</sup> Seat</div>
            <div class="description">
                If you're struggling with tightness and discomfort from the traditional gaming chair, we understand your pain. Our patent pending VertaAir<sup>TM</sup> Seat is a fresh concept that solves the primary issues plaguing traditional chairs.
            </div>
            {% unless _page == 800 %}
            <div class="cta">
                <a class="index-signature__swiper-slide-btn -blue vertagear-btn ">Learn More</a>
            </div>
            {% endunless %}
        </div>
        <div class="signatures-visual">
            <img class="lazyload" data-src="{{'VertaAir-Seat.jpg'| asset_img_url: '2000x' }}" />
            <div class="scroll-to-play"><img src="{{'fe800-scroll-to-play.svg'| asset_url}}" /> <span>Scroll to discover more</span></div>
        </div>
        <div class="signatures-video ">
            <video muted defaultMuted playsinline loop class="full-image-intro__bg-video lazy video-desktop" preload="metadata" data-poster="">
                <source data-src="https://cdn.shopify.com/videos/c/o/v/586b8e20c0ba457584172f7c8275762a.mp4" type="video/mp4">
            </video>

            <video muted defaultMuted playsinline loop class="full-image-intro__bg-video lazy video-mobile" preload="metadata" data-poster="">
                <source data-src="https://cdn.shopify.com/videos/c/o/v/88e3dc19c8a94cd4a6cd1fb4344658d3.mp4" type="video/mp4">
            </video>

            {% unless _page == 800 %}
            <div class="cta">
                <a class="index-signature__swiper-slide-btn js-popups" popip="lumbar">Learn More</a>
            </div>
            {% endunless %}
        </div>

    </div>
</div>