<div class="product_comparison" style="display: none;">
  <div class="product_comparison-inner">
    <div class="product_comparison-content" id="product_comparison-content">
      <!-- comparison listproduct -->
      <div class="row-comparison listproduct listproduct-js">
        <div class="row-item row-item-properties"></div>

        <div class="row-item comparison-product">
          <img class="lazyload" data-src="{{ 'fe800-product1.png' | asset_img_url: '250x' }}">
          <h3>SL3800</h3>
        </div>

        <div class="row-item comparison-product">
          <img class="lazyload" data-src="{{ 'fe800-product2.png' | asset_img_url: '250x' }}">
          <h3>SL5800</h3>
        </div>

        <div class="row-item comparison-product">
          <img class="lazyload" data-src="{{ 'fe800-product3.png' | asset_img_url: '250x' }}">
          <h3>PL4800</h3>
        </div>

        <div class="row-item comparison-product">
          <img class="lazyload" data-src="{{ 'fe800-product4.png' | asset_img_url: '250x' }}">
          <h3>PL6800</h3>
        </div>
      </div>

      <div class="listcomparison listcomparison-js">
        <!-- comparison 1  ContourMax<sup>TM</sup> Lumbar -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            ContourMax<sup>TM</sup>
            <label
              >Lumbar
              <div class="tooltip">
                <div class="tooltiptext">
                  Our patent pending ContourMax Lumbar features a layer of memory foam that adjusts specifically to the
                  curves and angles of any individual’s body. Four highly durable Thermoplastic Elastomer (TPE) modules,
                  consisting of 64 individual responsive branches, lay beneath the foam and shift themselves according
                  to the shape and movement of the sitter’s back, maintaining a healthy posture at all times.
                </div>
              </div>
            </label>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>

        <!-- comparison 2 VertaAir<sup>TM</sup> Seat -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            VertaAir<sup>TM</sup>
            <label>
              Seat

              <div class="tooltip">
                <div class="tooltiptext">
                  If you're struggling with tightness and discomfort from the traditional gaming chair, we understand
                  your pain. Our patent pending VertaAir Seat is a fresh concept that solves the primary issues plaguing
                  traditional chairs.
                </div>
              </div>
            </label>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>

        <!-- comparison 3  RGB LED Kit (Sold Separately) -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">RGB LED Kit (Sold <label>Separately) </label></div>

          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="no"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="no"></div>
        </div>

        <!-- comparison 4  HygennX -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">HygennX<sup>TM</sup></div>

          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>

        <!-- comparison 5 Heavy Duty Base -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            Heavy Duty Base<label>
              <div class="tooltip">
                <div class="tooltiptext">
                  The heavy-duty frame ensures the long term durability of the chair's critical components.
                </div>
              </div>
            </label>
          </div>
          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="no"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>

        <!-- comparison 6 PUC -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            PUC

            <div class="tooltip">
              <div class="tooltiptext">
                PUC combines the best attributes of both PVC and PU faux-leather into one. It retains the durability of
                PVC for everyday use, while maintaining the softness of PU for a low-maintenance solution without
                sacrificing comfort.
              </div>
            </div>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>

        <!-- comparison 7 Effortless Assembly -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            Effortless Assembly

            <div class="tooltip">
              <div class="tooltiptext">
                Our patented “Slide-in” hardware allows for a quick and easy on-person assembly. The chair can be
                assembled in seconds by simply sliding the backrest into the seat, removing any alignment and hardware
                complexities for a hassle-free,one-person process.
              </div>
            </div>
          </div>
          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>

        <!-- comparison 8 Steel Frame -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            Steel Frame

            <div class="tooltip">
              <div class="tooltiptext">
                The integrated steel skeleton that forms the shape of the gaming chair ensures long-term durability. The
                steel frame includes a 10-year warranty, keeping you secure and stable throughout any intense gameplay.
              </div>
            </div>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>
        <!-- comparison 9 UPHR Foam -->
        <div class="row-comparison js-check-position">
          <div class="row-item row-item-properties">
            UPHR Foam

            <div class="tooltip">
              <div class="tooltiptext">
                Our Ultra Premium High Resilience Foam boasts a density well above industry standard. While standard
                High Resilience foam stands up to approximately 2.5lbs per cubic foot, our UPHR foam can withstand 62%
                more per cubic foot. The foam prolongs the lifespan of the chair by preventing deformities from long
                periods of use, inching it closest to the characteristics of memory foam.
              </div>
            </div>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- SL5800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL4800 -->
          <div class="row-item comparison-product" tick="yes"></div>

          <!-- PL6800 -->
          <div class="row-item comparison-product" tick="yes"></div>
        </div>

        <!-- comparison 10 5 Star base -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            5-Star Base

            <div class="tooltip">
              <div class="tooltiptext">
                As one of the critical support structure of the chair, the five-star base is fabricated with aluminum
                alloy to provide stability, lightweight construction, and lasting durability, providing the necessary
                strength to ensure longevity..
              </div>
            </div>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product">Metal</div>

          <!-- SL5800 -->
          <div class="row-item comparison-product">Aluminum Alloy</div>

          <!-- PL4800 -->
          <div class="row-item comparison-product">Aluminum Alloy</div>

          <!-- PL6800 -->
          <div class="row-item comparison-product">Aluminum Alloy</div>
        </div>

        <!-- comparison 11 Penta RS1 Caster -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            Penta RS1 Caster

            <div class="tooltip">
              <div class="tooltiptext">
                The motorsports inspired style extends all the way down to the casters. Engineered to be carefree, the
                Penta RS1 Casters are coated with polyurethane (PU) for soft and smooth gliding on any surface. (Color
                matching chair)
              </div>
            </div>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product">65mm / 2.5”</div>

          <!-- SL5800 -->
          <div class="row-item comparison-product">65mm / 2.5”</div>

          <!-- PL4800 -->
          <div class="row-item comparison-product">65mm / 2.5”</div>

          <!-- PL6800 -->
          <div class="row-item comparison-product">65mm / 2.5”</div>
        </div>

        <!-- comparison 12 Armrests -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            Armrests

            <div class="tooltip">
              <div class="tooltiptext">
                Adjustability extends to the armrests with 4 directional adjustments. The ergonomically designed metal
                plate armrests keep your forearms comfortable and steady regardless of body shape and habit, to prevent
                sore shoulders..
              </div>
            </div>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product">3D</div>

          <!-- SL5800 -->
          <div class="row-item comparison-product">4D</div>

          <!-- PL4800 -->
          <div class="row-item comparison-product">4D</div>

          <!-- PL6800 -->
          <div class="row-item comparison-product">4D</div>
        </div>

        <!-- comparison 13 Gas Lift -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">
            Gas Lift

            <div class="tooltip">
              <div class="tooltiptext">
                Vertagear Gaming Chair is supported with an industrial grade class-4 gas lift, providing the extra
                adjustability you need. Set the chair to your preferred height, to keep you at an optimal level relative
                to your setup to prevent sore shoulders.
              </div>
            </div>
          </div>

          <!-- SL3800 -->
          <div class="row-item comparison-product">Class4</div>

          <!-- SL5800 -->
          <div class="row-item comparison-product">Class4</div>

          <!-- PL4800 -->
          <div class="row-item comparison-product">Class4</div>

          <!-- PL6800 -->
          <div class="row-item comparison-product">Class4</div>
        </div>

        <!-- comparison 14 Recommended Height -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">Recommended Height</div>

          <!-- SL3800 -->
          <div class="row-item comparison-product">178cm / 5’10”</div>

          <!-- SL5800 -->
          <div class="row-item comparison-product">183cm / 6’</div>

          <!-- PL4800 -->
          <div class="row-item comparison-product">175cm-198cm / 5’9”-6’6”</div>

          <!-- PL6800 -->
          <div class="row-item comparison-product">175cm-203cm / 5’9”-6’8”</div>
        </div>

        <!-- comparison 15 Recommended Weight -->
        <div class="row-comparison">
          <div class="row-item row-item-properties">Recommended Weight</div>

          <!-- SL3800 -->
          <div class="row-item comparison-product">100kg / 220lb</div>

          <!-- SL5800 -->
          <div class="row-item comparison-product">113kg / 250lb</div>

          <!-- PL4800 -->
          <div class="row-item comparison-product">163kg / 360lb</div>

          <!-- PL6800 -->
          <div class="row-item comparison-product">181kg / 400lb</div>
        </div>
        <!-- comparison BUTTON -->
        <div class="row-comparison ">
          <div class="row-item row-item-properties"></div>

          <div class="row-item row-btn">
            <a class="btn-viewmode" href="https://www.vertagear.com/products/sl3800" target="_blank">Shop Now</a>
          </div>
          <div class="row-item row-btn">
            <a class="btn-viewmode" href="https://www.vertagear.com/products/sl5800" target="_blank">Shop Now</a>
          </div>
          <div class="row-item row-btn">
            <a
              class="btn-viewmode"
              href="https://www.vertagear.com/products/pl4800-ergonomic-gaming-chair"
              target="_blank"
              >Shop Now</a
            >
          </div>
          <div class="row-item row-btn">
            <a
              class="btn-viewmode"
              href="https://www.vertagear.com/products/pl6800-big-and-tall-ergonomic-gaming-chair"
              target="_blank"
              >Shop Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
