<div id="shopify-section-fe800-signatures_4_1" class="shopify-section fp-section fp-table fe800-signatures">
    <div class="signatures-item" id="signatures-{{order}}">
    <div class="signatures-topbar js-popups" popip="lumbar">
        <div class="title"><span>VERTAGEAR SIGNATURES</span> How it Works?</div>
        <div class="description">
            Vertagear HygennX <sup>TM</sup>  features patented technologies that shield your chair and accessories from odor, bacteria, and moisture build-up.
        </div>
        {% unless _page == 800 %}
        <div class="cta">
            <a class="index-signature__swiper-slide-btn -blue vertagear-btn ">Learn More</a>
        </div>
        {% endunless %}
    </div>
    <div class="signatures-visual">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/1759/4609/files/preview_images/f0406d0f11c340da8ac75d52278db3bd.thumbnail.0000000000.jpg?v=1659358503">
        <div class="scroll-to-play"><img src="//cdn.shopify.com/s/files/1/1759/4609/t/80/assets/fe800-scroll-to-play.svg?v=89213330769483418881673233074"> <span>Scroll
                to discover more</span></div>
    </div>
    <div class="signatures-video ">
        <video muted="" defaultmuted="" playsinline="" loop="" class="full-image-intro__bg-video lazy video-desktop entered loaded" preload="metadata" data-poster="" data-ll-status="loaded">
            <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/640b33db90e34ba0bd9295c839619faf.mp4">
        </video>

        <video muted="" defaultmuted="" playsinline="" loop="" class="full-image-intro__bg-video lazy video-mobile" preload="metadata" data-poster="">
            <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/640b33db90e34ba0bd9295c839619faf.mp4">
        </video>

        {% unless _page == 800 %}
        <div class="cta">
            <a class="index-signature__swiper-slide-btn js-popups" popip="lumbar">Learn More</a>
        </div>
        {% endunless %}
    </div>


</div>
</div>