<div id="shopify-section-fe800-signatures_2_2" class="shopify-section fp-section fp-table fe800-signatures">
    <div class="signatures-item hover-drawer" id="signatures-{{order}}">
    <div class="signatures-topbar" popip="lumbar">
        <div class="title"><span>VertaAir™ Seat</span>Waterfall & Wide Seat Design</div>
        <div class="description">
            No more numbness in your legs when gaming for hours. The VertaAir™ Seat is designed with a soft curvy edge for more space, distributing pressure across your thighs, knees, and lower body evenly to prevent blockage of blood circulation throughout your legs. As a bonus, the waterfall, wide seat design allows users to retain a well-balanced, comfortable posture, letting them focus on their tasks without nagging discomfort.
        </div>
        {% unless _page == 800 %}
        <div class="cta">
            <a class="index-signature__swiper-slide-btn -blue vertagear-btn ">Learn More</a>
        </div>
        {% endunless %}
        <div class="scroll-to-play"><img src="//cdn.shopify.com/s/files/1/1759/4609/t/80/assets/fe800-scroll-to-play.svg?v=89213330769483418881673233074"> <span>Scroll
                to discover more</span></div>
        <div class="showmore-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g class="nc-icon-wrapper" fill="#FFFFFF"><path d="M16,8a8,8,0,1,0-8,8A8.024,8.024,0,0,0,16,8ZM7.293,10.707l-3-3A1,1,0,1,1,5.707,6.293L8,8.586l2.293-2.293a1,1,0,1,1,1.414,1.414l-3,3A1,1,0,0,1,7.293,10.707Z" fill="#FFFFFF"/></g></svg>
        </div>
    </div>
    <div class="signatures-visual">
        <img class="lazyload" data-src="{{ 'Waterfall-Wide-Seat.jpg' | asset_img_url: '1920x' }}" />
    </div>
    <div class="signatures-video ">
        <video muted="" defaultmuted="" playsinline="" loop="" class="full-image-intro__bg-video lazy video-desktop entered loaded" preload="metadata" data-poster="" data-ll-status="loaded">
            <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/1a01c2cc717441038cb58c3b0a2bf359.mp4">
        </video>

        <video muted="" defaultmuted="" playsinline="" loop="" class="full-image-intro__bg-video lazy video-mobile" preload="metadata" data-poster="">
            <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/dd9e0093b4ab4a2ba20d01fdfbec2d34.mp4">
        </video>

        {% unless _page == 800 %}
        <div class="cta">
            <a class="index-signature__swiper-slide-btn js-popups" popip="lumbar">Learn More</a>
        </div>
        {% endunless %}
    </div>


</div>
</div>