<div class="ld-giftcards-how" id="vntGiftCardHow">
                        <div class="ld-giftcards-how__title">
                            How Do Vertagear eGift Cards Work?
                        </div>
                        <div class="ld-giftcards-how__icons">
                            <div class="ld-giftcards-how__icon">
                                <img src="{{ 'giftcard-icon1.svg' | asset_url }}" id="vnt-giftcard-icon1" />
                                <div>Select the amount you wish to gift</div>
                            </div>
                            <div class="ld-giftcards-how__icon">
                                <img src="{{ 'giftcard-icon2.svg' | asset_url }}" id="vnt-giftcard-icon2" />
                                <div>Purchase it like any other products</div>
                            </div>
                            <div class="ld-giftcards-how__icon">
                                <img src="{{ 'giftcard-icon3.svg' | asset_url }}" id="vnt-giftcard-icon3" />
                                <div>Receive e-Gift Card code via email</div>
                            </div>
                            <div class="ld-giftcards-how__icon">
                                <img src="{{ 'giftcard-icon4.svg' | asset_url }}" id="vnt-giftcard-icon4" />
                                <div>Send e-Gift Card code to your loved ones</div>
                            </div>
                        </div>
                    </div>