<div class="join-team-verta vertagear-container js-team-verta">
    <div class="join-team-verta__top">
        <div class="join-team-verta__top-left">
            <div class="join-team-verta__title">
                Join the #TeamVerta
            </div>
            <div class="join-team-verta__desc">
                Join to our Social Community and learn about special information, news,
                and cool battlestations for you to inspire! #VGBATTLESTATION #VERTAGEAR
            </div>

        </div>
        <div class="join-team-verta__top-right">
            <a class="join-team-verta__btn vertagear-btn">
                follow us
            </a>
        </div>
    </div>
    <div class="join-team-verta__main">
<!--         <swiper class="join-team-verta__swiper" :options="options" key="team-verta-swiper">
            <swiper-slide class="join-team-verta__swiper-slide">
                <img src='https://placeimg.com/400/400/any' class="join-team-verta__swiper-slide-img">
            </swiper-slide>
            <swiper-slide class="join-team-verta__swiper-slide">
                <img src='https://placeimg.com/500/500/any' class="join-team-verta__swiper-slide-img">
            </swiper-slide>
            <swiper-slide class="join-team-verta__swiper-slide">
                <img src='https://placeimg.com/600/600/any' class="join-team-verta__swiper-slide-img">
            </swiper-slide>
            <swiper-slide class="join-team-verta__swiper-slide">
                <img src='https://placeimg.com/700/700/any' class="join-team-verta__swiper-slide-img">
            </swiper-slide>
        </swiper> -->
        <div data-oke-media-carousel data-oke-reviews-autoplay="false" data-oke-reviews-arrow-position="inside" data-oke-reviews-slide-link-text="Read More" data-oke-reviews-min-images="1" data-oke-reviews-slide-size="x-large"></div>
<!--         <div class="join-team-verta__swiper-pagination-box">
            <div class="join-team-verta__swiper-pagination swiper-pagination"></div>
        </div> -->
    </div>
</div>