<link rel="stylesheet" href="{{ 'ld-rgb-v2-signatures.css' | asset_url }}">

<div class="rgb__signature">
  
  <div class="section">
    <div class="fixed">
      <div class="rgb__signature__container">
        <div class="rgb__signature__text n1">
          <div class="text__wrapper">
            <div class="header">VERTAGER SIGNATURES</div>
            <div class="title">Gameplay Immersion</div>
            <div class="desc">
              Don't ever let yourself be obscured. Even as darkness
              descends, shine a spotlight on what you're all about like
              never before. This RGB kit enhances not only your gaming but
              also you.
            </div>
            <div class="learn-more">LEARN MORE</div>
          </div>
        </div>

        <img
             class="rgb__signature__img display-mobile"
             src="{{ 'ld-rgb-signature-1.jpg' | asset_url }}"
             alt="signature img"
             />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="fixed">
      <div class="rgb__signature__container">
        <div class="rgb__signature__text n2">
          <div class="text__wrapper">
            <div class="header">VERTAGER SIGNATURES</div>
            <div class="title">Simple Controls via SignalRGB</div>
            <div class="desc">
              Easily control your lighting experience with the critically
              acclaimed SignalRGB software. Everything you need is just a
              click away.
            </div>
            <div class="learn-more">LEARN MORE</div>
          </div>
        </div>

        <img
             class="rgb__signature__img display-mobile"
             src="{{ 'ld-rgb-signature-2.jpeg' | asset_url }}"
             alt="signature img"
             />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="fixed">
      <div class="rgb__signature__container">
        <div class="rgb__signature__text n3">
          <div class="text__wrapper">
            <div class="header">VERTAGER SIGNATURES</div>
            <div class="title">Gameplay Immersion</div>
            <div class="desc">
              Blast or destroy, bass or highs—those around you will vibe to
              the sounds of your gameplay and music through your lights. The
              party starts with your every move.
            </div>
            <div class="learn-more">LEARN MORE</div>
          </div>
        </div>

        <img
             class="rgb__signature__img display-mobile"
             src="{{ 'ld-rgb-signature-3.jpeg' | asset_url }}"
             alt="signature img"
             />
      </div>
    </div>
  </div>
</div>