<link rel="stylesheet" href="{{ 'nam-product-warranty.css' | asset_url }}" />

<div class="nam-warranty-bg">
  <div class="nam-warranty-content">
    <div class="nam-warranty__title">Warranty</div>
    <div class="nam-warranty__info">
      <div class="nam-warranty__info__each">
        <div class="title">VERTAGEAR Racing Series Chair Parts 2</div>
        <div class="data">10 Year Limited Warranty</div>
      </div>
      <div class="nam-warranty__info__each">
        <div class="title">Metal Structure Frame</div>
        <div class="data">10 Year Warranty</div>
      </div>
      <div class="nam-warranty__info__each">
        <div class="title">Seat Mechanism</div>
        <div class="data">02 Year Warranty</div>
      </div>
      <div class="nam-warranty__info__each">
        <div class="title">Arm Rest</div>
        <div class="data">02 Year Warranty</div>
      </div>
      <div class="nam-warranty__info__each">
        <div class="title">Wheels</div>
        <div class="data">10 Year Limited Warranty</div>
      </div>
      <div class="nam-warranty__info__each">
        <div class="title">Headrest/Lumbar Support Pillows</div>
        <div class="data">10 Year Warranty</div>
      </div>
      <div class="nam-warranty__info__each">
        <div class="title">Five Star Base</div>
        <div class="data">02 Year Warranty</div>
      </div>
      <div class="nam-warranty__info__each">
        <div class="title">Gas Lift</div>
        <div class="data">02 Year Warranty</div>
      </div>
    </div>
  </div>
</div>