<div class="product-acc-feature">
    {% for item in (0..3) %}
        <div class="product-acc-feature__group">
            <div class="product-acc-feature__group-bg">
                <img src='https://placeimg.com/375/341/any' class="product-acc-feature__group-bg-img">
            </div>
            <div class="container product-acc-feature__group-container">

                <div class="product-acc-feature__group-title">Wireless Connectivity</div>
                <p class="product-acc-feature__group-desc">
                    The RGB LED kit is the first of it’s kind to allow full spectrum customization in lighting effects while maintaining the mobility of a normal gaming chair. With zero wires to hold you back, you can achieve optimal performance while enjoying a symphony of visual effects to
                    bolster your gaming experience.
                </p>
            </div>
        </div>
    {% endfor %}
</div>