<div class="nam-product__wh">
    <div class="nam-product__info">
        <div class="nam-product__info__limits">
        <div class="nam-product__info__limits__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_911_4910)">
            <path d="M14.5 0.5H1.5C0.947715 0.5 0.5 0.947715 0.5 1.5V14.5C0.5 15.0523 0.947715 15.5 1.5 15.5H14.5C15.0523 15.5 15.5 15.0523 15.5 14.5V1.5C15.5 0.947715 15.0523 0.5 14.5 0.5Z" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.4754 8.49963C13.3451 7.13784 12.712 5.87348 11.6997 4.95337C10.6873 4.03325 9.3684 3.52344 8.00039 3.52344C6.63238 3.52344 5.31347 4.03325 4.30113 4.95337C3.28879 5.87348 2.65568 7.13784 2.52539 8.49963H13.4754Z" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.5 8.5L9.5 5.5" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_911_4910">
            <rect width="16" height="16" fill="white"/>
            </clipPath>
            </defs>
            </svg>
        </div>
        <div class="nam-product__info__limits__text">
            <div class="nam-product__info__limits__title">WEIGHT</div>
            <div class="nam-product__info__limits__data" id="product__info__limits__data-weight">
            {{ product.metafields.custom_fields.weight }}
            </div>
        </div>
        </div>

        <div class="nam-product__info__limits">
        <div class="nam-product__info__limits__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_911_4920)">
            <path d="M4 0.5C4.53043 0.5 5.03914 0.710714 5.41421 1.08579C5.78929 1.46086 6 1.96957 6 2.5C6 3.03043 5.78929 3.53914 5.41421 3.91421C5.03914 4.28929 4.53043 4.5 4 4.5C3.46957 4.5 2.96086 4.28929 2.58579 3.91421C2.21071 3.53914 2 3.03043 2 2.5C2 1.96957 2.21071 1.46086 2.58579 1.08579C2.96086 0.710714 3.46957 0.5 4 0.5Z" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.5 15.5H2.5L1.5 11.5H0.5V8.5C0.5 7.96957 0.710714 7.46086 1.08579 7.08579C1.46086 6.71071 1.96957 6.5 2.5 6.5H5.5C6.03043 6.5 6.53914 6.71071 6.91421 7.08579C7.28929 7.46086 7.5 7.96957 7.5 8.5V11.5H6.5L5.5 15.5Z" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.5 0.5H10.5V15.5H15.5V0.5Z" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.5 3.5H10.5" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.5 6.5H10.5" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.5 9.5H10.5" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.5 12.5H10.5" stroke="#4E4CF7" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_911_4920">
            <rect width="16" height="16" fill="white"/>
            </clipPath>
            </defs>
            </svg>
        </div>
        <div class="nam-product__info__limits__text">
            <div class="nam-product__info__limits__title">HEIGHT</div>
            <div class="nam-product__info__limits__data" id="product__info__limits__data-height">
            {{ product.metafields.custom_fields.height }}
            </div>
        </div>
        </div>
    </div>
    </div>