<div class="product-learn-more-wear-and-tear-popup -in-active product-learn-more-wear-and-tear-popup-request">
  <div class="product-learn-more-wear-and-tear-popup__close-bg" onclick="document.querySelector('.product-learn-more-wear-and-tear-popup').classList.add('-in-active')"></div>
  <div class="product-learn-more-wear-and-tear-popup__center">
    <div class="product-learn-more-wear-and-tear-popup__center-close" onclick="document.querySelector('.product-learn-more-wear-and-tear-popup').classList.add('-in-active')"></div>

    <div class="product-learn-more-wear-and-tear-popup-title">Free protection program</div>
    <div class="wear-and-tear-card-outer">

      <div class="wear-and-tear-card-container">

        <div class="wear-and-tear-card">
          <div class="wear-and-tear-card__top">
            Free 2-Year Wear & Tear
                                                              Protection Program
          </div>
          <div class="wear-and-tear-card__bottom">
            <div class="wear-and-tear-card__bottom-wrap">
              <div class="wear-and-tear-card__bottom-slogan">
                how to get?
              </div>
              <div class="wear-and-tear-card__bottom-title">
                Leave a Review
              </div>
            </div>
            <div class="wear-and-tear-card__bottom-desc">
              As a Vertagear customer, your experience matters to us. Click the button below to leave a product and photo review of your newly purchased chair and receive your
              <div class="wear-and-tear-card__bottom-desc-free-box">
                <span class="wear-and-tear-card__bottom-desc-free">FREE</span>
                <a class="wear-and-tear-card__bottom-desc-link" href="/products/wear-tear-protection-program" target="_blank">2-year wear and tear protection plan.</a>
              </div>
              <div class="wear-and-tear-card__bottom-desc-bottom">($99.99 retail value!)</div>
            </div>
            <div class="wear-and-tear-card__btn-box">
              <a class="vertagear-btn wear-and-tear-card__btn" href="/pages/2-year-wear-and-tear">
                Get now
              </a>
            </div>
          </div>
        </div>

        <div class="wear-and-tear-card -purple">
          <div class="wear-and-tear-card__top">
            Free 3-Year Extended
                                                              Warranty Program
          </div>
          <div class="wear-and-tear-card__bottom">

            <div class="wear-and-tear-card__bottom-wrap">
              <div class="wear-and-tear-card__bottom-slogan">
                how to get?
              </div>
              <div class="wear-and-tear-card__bottom-title">
                Post Your Story
              </div>
            </div>


            <div class="wear-and-tear-card__bottom-desc">
              Share your newly purchased Vertagear chair to your social media and leave us a comment on our latest Instagram post to be fully eligible for an
              <div class="wear-and-tear-card__bottom-desc-free-box">
                <span class="wear-and-tear-card__bottom-desc-free">FREE</span>
                <a class="wear-and-tear-card__bottom-desc-link" href="/products/3-year-extended-warranty" target="_blank">3-year extended warranty.</a>
              </div>
              <div class="wear-and-tear-card__bottom-desc-bottom">($99.99 retail value!)</div>
            </div>
            <div class="wear-and-tear-card__btn-box">
              <a class="vertagear-btn wear-and-tear-card__btn" href="/pages/extended-warranty">
                Get now
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
