{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.package_includes' %}
  {% include 'custom_fields.products.specifications' %}
  {% include 'custom_fields.products.features' %}
  {% include 'custom_fields.products.title' %}
  {% include 'custom_fields.products.buy_now_title_page' %}
  {% include 'custom_fields.products.image' %}
  {% include 'custom_fields.products.assembly_video' %}
  {% include 'custom_fields.products.color_1' %}
  {% include 'custom_fields.products.color_1_image' %}
  {% include 'custom_fields.products.color_2' %}
  {% include 'custom_fields.products.color_2_image' %}
  {% include 'custom_fields.products.color_3' %}
  {% include 'custom_fields.products.color_3_image' %}
  {% include 'custom_fields.products.color_4' %}
  {% include 'custom_fields.products.color_4_image' %}
  {% include 'custom_fields.products.color_5' %}
  {% include 'custom_fields.products.color_5_image' %}
  {% include 'custom_fields.products.color_6' %}
  {% include 'custom_fields.products.color_6_image' %}
  {% include 'custom_fields.products.color_7' %}
  {% include 'custom_fields.products.color_7_image' %}
  {% include 'custom_fields.products.color_8' %}
  {% include 'custom_fields.products.color_8_image' %}
  {% include 'custom_fields.products.color_9' %}
  {% include 'custom_fields.products.color_9_image' %}
  {% include 'custom_fields.products.chair_color_1' %}
  {% include 'custom_fields.products.chair_color_1_image' %}
  {% include 'custom_fields.products.chair_color_2' %}
  {% include 'custom_fields.products.chair_color_2_image' %}
  {% include 'custom_fields.products.chair_color_3' %}
  {% include 'custom_fields.products.chair_color_3_image' %}
  {% include 'custom_fields.products.chair_color_4' %}
  {% include 'custom_fields.products.chair_color_4_image' %}
  {% include 'custom_fields.products.chair_color_5' %}
  {% include 'custom_fields.products.chair_color_5_image' %}
  {% include 'custom_fields.products.chair_color_6' %}
  {% include 'custom_fields.products.chair_color_6_image' %}
  {% include 'custom_fields.products.spec_background_image' %}
  {% include 'custom_fields.products.spec_image_layer' %}
  {% include 'custom_fields.products.spec_image_layer_2' %}
  {% include 'custom_fields.products.feature_image' %}
  {% include 'custom_fields.products.tooltip_image_1' %}
  {% include 'custom_fields.products.tooltip_text_1' %}
  {% include 'custom_fields.products.tooltip_image_2' %}
  {% include 'custom_fields.products.tooltip_text_2' %}
  {% include 'custom_fields.products.tooltip_image_3' %}
  {% include 'custom_fields.products.tooltip_text_3' %}
  {% include 'custom_fields.products.tooltip_image_4' %}
  {% include 'custom_fields.products.tooltip_text_4' %}
  {% include 'custom_fields.products.tooltip_image_5' %}
  {% include 'custom_fields.products.tooltip_text_5' %}
  {% include 'custom_fields.products.tooltip_image_6' %}
  {% include 'custom_fields.products.tooltip_text_6' %}
  {% include 'custom_fields.products.tooltip_image_7' %}
  {% include 'custom_fields.products.tooltip_text_7' %}
  {% include 'custom_fields.products.tooltip_image_8' %}
  {% include 'custom_fields.products.tooltip_text_8' %}
  {% include 'custom_fields.products.tooltip_image_9' %}
  {% include 'custom_fields.products.tooltip_text_9' %}
  {% include 'custom_fields.products.tooltip_image_10' %}
  {% include 'custom_fields.products.tooltip_text_10' %}
  {% include 'custom_fields.products.tooltip_image_11' %}
  {% include 'custom_fields.products.tooltip_text_11' %}
  {% include 'custom_fields.products.tooltip_image_12' %}
  {% include 'custom_fields.products.tooltip_text_12' %}
  {% include 'custom_fields.products.tooltip_image_13' %}
  {% include 'custom_fields.products.tooltip_text_13' %}
  {% include 'custom_fields.products.tooltip_image_14' %}
  {% include 'custom_fields.products.tooltip_text_14' %}
  {% include 'custom_fields.products.tooltip_image_15' %}
  {% include 'custom_fields.products.tooltip_text_15' %}
  {% include 'custom_fields.products.tooltip_image_16' %}
  {% include 'custom_fields.products.tooltip_text_16' %}
  {% include 'custom_fields.products.reviews_logo_1' %}
  {% include 'custom_fields.products.reviews_link_1' %}
  {% include 'custom_fields.products.reviews_logo_2' %}
  {% include 'custom_fields.products.reviews_link_2' %}
  {% include 'custom_fields.products.reviews_logo_3' %}
  {% include 'custom_fields.products.reviews_link_3' %}
  {% include 'custom_fields.products.reviews_logo_4' %}
  {% include 'custom_fields.products.reviews_link_4' %}
  {% include 'custom_fields.products.reviews_logo_5' %}
  {% include 'custom_fields.products.reviews_link_5' %}
  {% include 'custom_fields.products.reviews_logo_6' %}
  {% include 'custom_fields.products.reviews_link_6' %}
  {% include 'custom_fields.products.reviews_logo_7' %}
  {% include 'custom_fields.products.reviews_link_7' %}
  {% include 'custom_fields.products.reviews_logo_8' %}
  {% include 'custom_fields.products.reviews_link_8' %}
  {% include 'custom_fields.products.reviews_logo_9' %}
  {% include 'custom_fields.products.reviews_link_9' %}
  {% include 'custom_fields.products.reviews_logo_10' %}
  {% include 'custom_fields.products.reviews_link_10' %}
  {% include 'custom_fields.products.reviews_logo_11' %}
  {% include 'custom_fields.products.reviews_link_11' %}
  {% include 'custom_fields.products.reviews_logo_12' %}
  {% include 'custom_fields.products.reviews_link_12' %}
  {% include 'custom_fields.products.reviews_logo_13' %}
  {% include 'custom_fields.products.reviews_link_13' %}
  {% include 'custom_fields.products.reviews_logo_14' %}
  {% include 'custom_fields.products.reviews_link_14' %}
  {% include 'custom_fields.products.reviews_logo_15' %}
  {% include 'custom_fields.products.reviews_link_15' %}
  {% include 'custom_fields.products.reviews_logo_16' %}
  {% include 'custom_fields.products.reviews_link_16' %}
  {% include 'custom_fields.products.spec_label_1' %}
  {% include 'custom_fields.products.spec_value_1' %}
  {% include 'custom_fields.products.spec_label_2' %}
  {% include 'custom_fields.products.spec_value_2' %}
  {% include 'custom_fields.products.spec_label_3' %}
  {% include 'custom_fields.products.spec_value_3' %}
  {% include 'custom_fields.products.spec_label_4' %}
  {% include 'custom_fields.products.spec_value_4' %}
  {% include 'custom_fields.products.spec_label_5' %}
  {% include 'custom_fields.products.spec_value_5' %}
  {% include 'custom_fields.products.spec_label_6' %}
  {% include 'custom_fields.products.spec_value_6' %}
  {% include 'custom_fields.products.spec_label_7' %}
  {% include 'custom_fields.products.spec_value_7' %}
  {% include 'custom_fields.products.spec_label_8' %}
  {% include 'custom_fields.products.spec_value_8' %}
  {% include 'custom_fields.products.spec_label_9' %}
  {% include 'custom_fields.products.spec_value_9' %}
  {% include 'custom_fields.products.spec_label_10' %}
  {% include 'custom_fields.products.spec_value_10' %}
  {% include 'custom_fields.products.spec_label_11' %}
  {% include 'custom_fields.products.spec_value_11' %}
  {% include 'custom_fields.products.spec_label_12' %}
  {% include 'custom_fields.products.spec_value_12' %}
  {% include 'custom_fields.products.spec_label_13' %}
  {% include 'custom_fields.products.spec_value_13' %}
  {% include 'custom_fields.products.spec_label_14' %}
  {% include 'custom_fields.products.spec_value_14' %}
  {% include 'custom_fields.products.height_weight_recommendation' %}
  {% include 'custom_fields.products.product_testimonial' %}
  {% include 'custom_fields.products.product_testimonial_logo' %}
  {% include 'custom_fields.products.product_adjustability' %}
  {% include 'custom_fields.products.product_warranty' %}
  {% include 'custom_fields.products.product_dimensions' %}
  {% include 'custom_fields.products.product_features' %}
  {% include 'custom_fields.products.product_specifications' %}
  {% include 'custom_fields.products.product_dimensions_mobile' %}
  {% include 'custom_fields.products.product_adjustability_mobile' %}
  {% include 'custom_fields.products.product_features_mobile' %}
  {% include 'custom_fields.products.product_adjustability_slider' %}
  {% include 'custom_fields.products.full-image-banner' %}
  {% include 'custom_fields.products.construction__materials' %}
  {% include 'custom_fields.products.posture_perfect_ergonomics' %}
  {% include 'custom_fields.products.hygennx' %}
  {% include 'custom_fields.products.heavy_duty_base' %}
  {% include 'custom_fields.products.puc' %}
  {% include 'custom_fields.products.effortless_assembly' %}
  {% include 'custom_fields.products.steel_frame' %}
  {% include 'custom_fields.products.uphr_foam' %}
  {% include 'custom_fields.products.5-star_base' %}
  {% include 'custom_fields.products.penta_rs1_caster' %}
  {% include 'custom_fields.products.armrests' %}
  {% include 'custom_fields.products.gas_lift' %}
  {% include 'custom_fields.products.recommended_height' %}
  {% include 'custom_fields.products.recommended_weight' %}
  {% include 'custom_fields.products.product_slogan_text' %}
  {% include 'custom_fields.products.product_slogan_image' %}
  {% include 'custom_fields.products.rgb_kit_link' %}
  {% include 'custom_fields.products.open_graph_image' %}
</div>