<div class="product-detail-section__accordion-content -review" :class="{'-active' : current === 2 }"
    data-parent="2">
    <div class="product-detail-section__accordion-content-inner" data-index="2">
        <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}"></div>
    </div>
</div>