<div class="protections-group">
    {% if product.type contains 'S-Line' or product.type contains 'P-Line' or product.type contains 'Triigger'%}
    {% unless product.id == 4589522288751 %}
    <div class="new-edit-top__bottom-single">
        <div class="new-edit-top__bottom-single-left">
            <div class="new-edit-top__bottom-single-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <g clip-path="url(#clip0_960_4675)">
                <path d="M38.333 6.07244C33.3905 6.07244 26.1005 4.73328 20.4622 0.974109C20.3252 0.882743 20.1643 0.833984 19.9997 0.833984C19.8351 0.833984 19.6741 0.882743 19.5372 0.974109C13.8988 4.73328 6.60884 6.07244 1.66634 6.07244C1.44533 6.07244 1.23337 6.16024 1.07709 6.31652C0.920805 6.4728 0.833008 6.68476 0.833008 6.90578C0.833008 22.0099 7.87551 34.0449 19.6713 39.0999C19.7751 39.1444 19.8868 39.1674 19.9997 39.1674C20.1126 39.1674 20.2243 39.1444 20.328 39.0999C32.1238 34.0449 39.1663 22.0099 39.1663 6.90578C39.1663 6.68476 39.0785 6.4728 38.9223 6.31652C38.766 6.16024 38.554 6.07244 38.333 6.07244ZM19.1663 3.16744V19.1674H4.31467C3.16546 15.4605 2.5567 11.6073 2.50717 7.72661C8.34487 7.56064 14.0577 5.9972 19.1663 3.16744ZM20.833 37.0183V20.8341H35.1097C32.6497 27.8871 27.5247 33.6957 20.833 37.0149V37.0183Z" fill="#212121"/>
                </g>
                <defs>
                <clipPath id="clip0_960_4675">
                <rect width="40" height="40" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </div>
        </div>
        <div class="new-edit-top__bottom-single-right">
            <div class="new-edit-top__bottom-single-right-text">
                <b>Free<br>protection<br>program</b>
                <b class="text-mobile">Free protection program</b>
            </div>
            <div class="new-edit-top__bottom-single-right-detail">
                See Details
            </div>
        </div>

    </div>
    <div class="new-edit-top__bottom-single">
        <div class="new-edit-top__bottom-single-left">
            <div class="new-edit-top__bottom-single-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M8.05795 20.9219L1.77461 32.0919C1.62045 32.3644 1.63295 32.6994 1.80545 32.9602C1.97795 33.2202 2.27711 33.3669 2.59211 33.3285L9.51461 32.5594L12.5879 38.706C12.7296 38.9885 13.0179 39.1669 13.3338 39.1669C13.6496 39.1669 13.9379 38.9885 14.0796 38.706L19.6904 27.4844C14.8013 27.3777 10.5221 24.7869 8.05795 20.9219Z" fill="#212121"/>
                <path d="M31.943 20.9219L38.2264 32.0919C38.3805 32.3644 38.368 32.6994 38.1955 32.9602C38.023 33.2202 37.7239 33.3669 37.4089 33.3285L30.4864 32.5594L27.413 38.706C27.2714 38.9885 26.983 39.1669 26.6672 39.1669C26.3514 39.1669 26.063 38.9885 25.9214 38.706L20.3105 27.4844C25.1997 27.3777 29.4789 24.7869 31.943 20.9219Z" fill="#212121"/>
                <path d="M20 0.833984C13.1075 0.833984 7.5 6.44148 7.5 13.334C7.5 20.2265 13.1075 25.834 20 25.834C26.8925 25.834 32.5 20.2265 32.5 13.334C32.5 6.44148 26.8925 0.833984 20 0.833984Z" fill="#212121"/>
                <path d="M12.7773 10.8642V8.55211H16.8822V19.1673H14.2444V10.8642H12.7773Z" fill="white"/>
                <path d="M18.6157 13.7143C18.6157 12.0469 18.9417 10.7333 19.5938 9.77358C20.2557 8.81385 21.3177 8.33398 22.7799 8.33398C24.242 8.33398 25.2991 8.81385 25.9511 9.77358C26.6131 10.7333 26.944 12.0469 26.944 13.7143C26.944 15.4011 26.6131 16.7244 25.9511 17.6841C25.2991 18.6438 24.242 19.1237 22.7799 19.1237C21.3177 19.1237 20.2557 18.6438 19.5938 17.6841C18.9417 16.7244 18.6157 15.4011 18.6157 13.7143ZM24.4544 13.7143C24.4544 12.7352 24.3457 11.9839 24.1284 11.4604C23.911 10.9272 23.4615 10.6606 22.7799 10.6606C22.0982 10.6606 21.6487 10.9272 21.4313 11.4604C21.214 11.9839 21.1053 12.7352 21.1053 13.7143C21.1053 14.3735 21.1448 14.9212 21.2239 15.3575C21.3029 15.784 21.461 16.133 21.6981 16.4045C21.9451 16.6662 22.3056 16.7971 22.7799 16.7971C23.2541 16.7971 23.6097 16.6662 23.8468 16.4045C24.0938 16.133 24.2568 15.784 24.3359 15.3575C24.4149 14.9212 24.4544 14.3735 24.4544 13.7143Z" fill="white"/>
                </svg>
            </div>
        </div>
        <div class="new-edit-top__bottom-single-right">
            <div class="new-edit-top__bottom-single-right-text">
                <b>10-Year<br>Limited<br>Warranty</b>
                <b class="text-mobile">10-Year Limited Warranty</b>
            </div>
        </div>

    </div>
    <div class="new-edit-top__bottom-single">
        <div class="new-edit-top__bottom-single-left">
            <div class="new-edit-top__bottom-single-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <g clip-path="url(#clip0_960_4725)">
                <path d="M21.6667 4.16602H1.66667C1.22464 4.16602 0.800716 4.34161 0.488155 4.65417C0.175595 4.96673 0 5.39065 0 5.83268L0 30.8327C0 31.2747 0.175595 31.6986 0.488155 32.0112C0.800716 32.3238 1.22464 32.4994 1.66667 32.4994H3.33333C3.33333 30.7312 4.03571 29.0355 5.28596 27.7853C6.5362 26.5351 8.23189 25.8327 10 25.8327C11.7681 25.8327 13.4638 26.5351 14.714 27.7853C15.9643 29.0355 16.6667 30.7312 16.6667 32.4994H22.5C22.721 32.4994 22.933 32.4116 23.0893 32.2553C23.2455 32.099 23.3333 31.887 23.3333 31.666V5.83268C23.3333 5.39065 23.1577 4.96673 22.8452 4.65417C22.5326 4.34161 22.1087 4.16602 21.6667 4.16602Z" fill="#212121"/>
                <path d="M39.8983 19.6008L34.8983 10.4342C34.8266 10.3027 34.7208 10.1931 34.5921 10.1167C34.4633 10.0403 34.3164 9.99997 34.1667 10H25.8333C25.6123 10 25.4004 10.0878 25.2441 10.2441C25.0878 10.4004 25 10.6123 25 10.8333V28.1008C25.8935 27.0823 27.0764 26.3605 28.3908 26.0317C29.7053 25.703 31.0887 25.783 32.3565 26.261C33.6242 26.7391 34.7161 27.5924 35.4862 28.7072C36.2563 29.822 36.6681 31.1451 36.6667 32.5H39.1667C39.3877 32.5 39.5996 32.4122 39.7559 32.2559C39.9122 32.0996 40 31.8877 40 31.6667V20C40 19.8605 39.9651 19.7233 39.8983 19.6008ZM27.5 20V12.5H33.1767L37.2675 20H27.5Z" fill="#212121"/>
                <path d="M30 37.5C29.0111 37.5 28.0444 37.2068 27.2222 36.6574C26.3999 36.1079 25.759 35.327 25.3806 34.4134C25.0022 33.4998 24.9031 32.4945 25.0961 31.5245C25.289 30.5546 25.7652 29.6637 26.4645 28.9645C27.1637 28.2652 28.0546 27.789 29.0245 27.5961C29.9945 27.4031 30.9998 27.5022 31.9134 27.8806C32.827 28.259 33.6079 28.8999 34.1574 29.7222C34.7068 30.5444 35 31.5111 35 32.5C34.9987 33.8257 34.4715 35.0967 33.5341 36.0341C32.5967 36.9715 31.3257 37.4987 30 37.5ZM30 30.8333C29.6704 30.8333 29.3481 30.9311 29.0741 31.1142C28.8 31.2974 28.5863 31.5577 28.4602 31.8622C28.3341 32.1667 28.3011 32.5019 28.3654 32.8252C28.4297 33.1485 28.5884 33.4454 28.8215 33.6785C29.0546 33.9116 29.3515 34.0703 29.6749 34.1346C29.9982 34.199 30.3333 34.1659 30.6378 34.0398C30.9424 33.9137 31.2027 33.7 31.3858 33.426C31.5689 33.1519 31.6667 32.8296 31.6667 32.5C31.6667 32.058 31.4911 31.6341 31.1785 31.3215C30.866 31.0089 30.442 30.8333 30 30.8333Z" fill="#212121"/>
                <path d="M10 37.5C9.0111 37.5 8.0444 37.2068 7.22215 36.6574C6.39991 36.1079 5.75904 35.327 5.3806 34.4134C5.00217 33.4998 4.90315 32.4945 5.09608 31.5245C5.289 30.5546 5.76521 29.6637 6.46447 28.9645C7.16373 28.2652 8.05465 27.789 9.02455 27.5961C9.99446 27.4031 10.9998 27.5022 11.9134 27.8806C12.827 28.259 13.6079 28.8999 14.1573 29.7222C14.7068 30.5444 15 31.5111 15 32.5C14.9987 33.8257 14.4715 35.0967 13.5341 36.0341C12.5967 36.9715 11.3257 37.4987 10 37.5ZM10 30.8333C9.67037 30.8333 9.34813 30.9311 9.07405 31.1142C8.79997 31.2974 8.58635 31.5577 8.4602 31.8622C8.33406 32.1667 8.30105 32.5019 8.36536 32.8252C8.42967 33.1485 8.5884 33.4454 8.82149 33.6785C9.05458 33.9116 9.35155 34.0703 9.67485 34.1346C9.99815 34.199 10.3333 34.1659 10.6378 34.0398C10.9424 33.9137 11.2026 33.7 11.3858 33.426C11.5689 33.1519 11.6667 32.8296 11.6667 32.5C11.6667 32.058 11.4911 31.6341 11.1785 31.3215C10.866 31.0089 10.442 30.8333 10 30.8333Z" fill="#212121"/>
                </g>
                <defs>
                <clipPath id="clip0_960_4725">
                <rect width="40" height="40" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </div>
        </div>
        <div class="new-edit-top__bottom-single-right">
            <div class="new-edit-top__bottom-single-right-text">
                <b>Free<br>Shipping</b>
                <b class="text-mobile">Free Shipping</b>
            </div>
        </div>

    </div>
    <div class="new-edit-top__bottom-single">
        <div class="new-edit-top__bottom-single-left">
            <div class="new-edit-top__bottom-single-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="40" viewBox="0 0 48 40" fill="none">
                    <path d="M42.3656 10H5.63443C2.52262 10 0 12.5226 0 15.6344V23.7813C0 26.8931 2.52262 29.4157 5.63443 29.4157H42.3656C45.4774 29.4157 48 26.8931 48 23.7813V15.6344C48 12.5226 45.4774 10 42.3656 10Z" fill="#FFB3C7"/>
                    <path d="M38.4373 18.5084C37.9905 18.2039 37.4691 18.027 36.9293 17.9968C36.3894 17.9666 35.8516 18.0842 35.3736 18.3369C34.8956 18.5896 34.4955 18.9679 34.2165 19.431C33.9375 19.8942 33.79 20.4246 33.79 20.9653C33.79 21.506 33.9375 22.0365 34.2165 22.4996C34.4955 22.9627 34.8956 23.341 35.3736 23.5937C35.8516 23.8464 36.3894 23.964 36.9293 23.9338C37.4691 23.9036 37.9905 23.7267 38.4373 23.4223V23.7823H40.1243V18.148H38.4373V18.5084ZM36.9031 22.415C36.6196 22.3999 36.3468 22.3021 36.1184 22.1336C35.89 21.9651 35.716 21.7334 35.6179 21.467C35.5198 21.2007 35.502 20.9114 35.5666 20.635C35.6311 20.3587 35.7753 20.1073 35.9813 19.912C36.1873 19.7167 36.4459 19.586 36.7254 19.5362C37.0048 19.4864 37.2927 19.5196 37.5534 19.6317C37.8142 19.7438 38.0364 19.9299 38.1925 20.1669C38.3486 20.4039 38.4318 20.6816 38.4318 20.9654C38.421 21.3602 38.254 21.7347 37.9673 22.0065C37.6807 22.2782 37.2979 22.4252 36.9031 22.415Z" fill="black"/>
                    <path d="M15.3025 15.6367H13.5371V23.782H15.3025V15.6367Z" fill="black"/>
                    <path d="M30.7936 17.9958C30.4619 17.9762 30.1304 18.0375 29.8277 18.1745C29.525 18.3115 29.2602 18.52 29.056 18.7821V18.1476H27.376V23.7817H29.0762V20.8208C29.0631 20.6507 29.0868 20.4798 29.1457 20.3197C29.2046 20.1596 29.2973 20.014 29.4174 19.8929C29.5376 19.7718 29.6824 19.678 29.842 19.6179C30.0017 19.5578 30.1724 19.5327 30.3426 19.5444C31.084 19.5444 31.5102 19.9874 31.5102 20.8091V23.7817H33.1953V20.1987C33.1953 18.8875 32.1527 17.9958 30.7936 17.9958Z" fill="black"/>
                    <path d="M20.6395 18.5084C20.1927 18.2039 19.6713 18.027 19.1314 17.9968C18.5916 17.9666 18.0537 18.0842 17.5757 18.3369C17.0977 18.5896 16.6977 18.9679 16.4187 19.431C16.1396 19.8942 15.9922 20.4246 15.9922 20.9653C15.9922 21.506 16.1396 22.0365 16.4187 22.4996C16.6977 22.9627 17.0977 23.341 17.5757 23.5937C18.0537 23.8464 18.5916 23.964 19.1314 23.9338C19.6713 23.9036 20.1927 23.7267 20.6395 23.4223V23.7823H22.3264V18.148H20.6395V18.5084ZM19.1052 22.415C18.8217 22.3999 18.5489 22.3021 18.3205 22.1337C18.092 21.9652 17.918 21.7335 17.8199 21.4671C17.7218 21.2008 17.7039 20.9115 17.7684 20.6351C17.833 20.3587 17.9772 20.1073 18.1831 19.912C18.3891 19.7167 18.6478 19.5861 18.9272 19.5362C19.2066 19.4864 19.4945 19.5196 19.7553 19.6317C20.0161 19.7438 20.2383 19.9298 20.3944 20.1669C20.5505 20.4039 20.6337 20.6815 20.6337 20.9654C20.6229 21.3602 20.4559 21.7346 20.1693 22.0064C19.8827 22.2782 19.5 22.4251 19.1052 22.415Z" fill="black"/>
                    <path d="M24.9362 18.8808V18.1469H23.209V23.7813H24.9399V21.1509C24.9399 20.2633 25.9019 19.7862 26.5694 19.7862C26.5761 19.7862 26.5827 19.7869 26.5894 19.787V18.1472C26.2767 18.1388 25.9659 18.2003 25.6799 18.3272C25.3939 18.4541 25.1398 18.6432 24.9362 18.8808Z" fill="black"/>
                    <path d="M41.9152 21.7813C41.7058 21.7813 41.5011 21.8434 41.327 21.9597C41.1529 22.0761 41.0172 22.2414 40.937 22.4349C40.8569 22.6284 40.8359 22.8413 40.8768 23.0467C40.9177 23.2521 41.0185 23.4407 41.1666 23.5888C41.3147 23.7369 41.5033 23.8377 41.7087 23.8786C41.9141 23.9194 42.127 23.8985 42.3205 23.8183C42.514 23.7382 42.6793 23.6025 42.7957 23.4283C42.912 23.2542 42.9741 23.0495 42.9741 22.8401C42.9741 22.701 42.9467 22.5633 42.8935 22.4349C42.8403 22.3064 42.7623 22.1897 42.664 22.0913C42.5657 21.993 42.4489 21.915 42.3205 21.8618C42.192 21.8086 42.0543 21.7812 41.9152 21.7813Z" fill="black"/>
                    <path d="M12.3202 15.6348H10.4906C10.4934 16.3685 10.3237 17.0926 9.99506 17.7486C9.66644 18.4047 9.18815 18.9742 8.59882 19.4113L7.87402 19.9542L10.6826 23.7842H12.9917L10.4076 20.26C11.017 19.6543 11.4999 18.9335 11.8283 18.1394C12.1567 17.3454 12.3239 16.494 12.3202 15.6348Z" fill="black"/>
                    <path d="M7.65124 15.6348H5.81836V23.7839H7.65124V15.6348Z" fill="black"/>
                </svg>
            </div>
        </div>
        <div class="new-edit-top__bottom-single-right">
            <div class="new-edit-top__bottom-single-right-text">
                <b>Buy now<br>Pay later</b>
                <b class="text-mobile">Buy now Pay later </b>
            </div>
        </div>

    </div>
    {% endunless %}
    {% endif %}
</div>