<div class="rgb-feature {{class}}">
    <div class="vertagear-container">
        <div class="rgb-feature__title">
            RGB LED KIT
        </div>
        <div class="rgb-feature__desc">
            The RGB LED Upgrade kit allows you to mix and match your beloved gaming chair to your setup in color, or in experience. With NZXT CAM software integration, adjusting colors, interactions, and modes are all accessible with ease at your fingertips.
        </div>
    </div>
    <div class="rgb-feature__list">
        <div class="rgb-feature__swiper-box vertagear-container">
            <swiper class="rgb-feature__swiper" :options="options">
                <swiper-slide class="rgb-feature__swiper-slide">
                    <div class="rgb-feature__swiper-slide-svg-box">
                        <svg class="rgb-feature__swiper-slide-svg" width="116.037" height="83.611" viewBox="0 0 116.037 83.611" fill="#fff">
                            <path d="M55.283 0C23.567 0 1.39 22.75.461 23.717a1.656 1.656 0 002.39 2.29c.219-.225 22.161-22.7 52.431-22.7 30.356 0 57.72 24.14 57.993 24.385a1.657 1.657 0 102.208-2.47C114.333 24.198 86.924 0 55.283 0z"/>
                            <path d="M55.798 18.102c-25.869 0-43.957 18.555-44.714 19.345a1.656 1.656 0 002.391 2.293c.176-.184 17.854-18.324 42.323-18.324 24.511 0 46.634 19.512 46.854 19.709a1.656 1.656 0 102.208-2.469c-.933-.84-23.266-20.554-49.062-20.554z"/>
                            <path d="M56.381 34.044c-19.257 0-32.719 13.808-33.284 14.4a1.657 1.657 0 102.393 2.289c.128-.133 13.032-13.375 30.891-13.375 17.9 0 34.1 14.278 34.258 14.423a1.657 1.657 0 002.209-2.47c-.696-.626-17.281-15.267-36.467-15.267z"/>
                            <path d="M56.949 50.894c-12.789 0-21.726 9.167-22.1 9.556a1.656 1.656 0 102.391 2.293c.083-.084 8.317-8.536 19.709-8.536 11.434 0 21.832 9.157 21.936 9.248a1.656 1.656 0 002.209-2.469c-.461-.411-11.425-10.092-24.145-10.092zM57.604 65.622a8.994 8.994 0 108.995 8.995 9.005 9.005 0 00-8.995-8.995zm0 14.674a5.68 5.68 0 115.681-5.68 5.687 5.687 0 01-5.681 5.681z"/>
                        </svg>
                    </div>
                    <div class="rgb-feature__swiper-slide-text">
                        Wireless<br>Connectivity
                    </div>
                </swiper-slide>
                <swiper-slide class="rgb-feature__swiper-slide">
                    <div class="rgb-feature__swiper-slide-svg-box">
                        <svg class="rgb-feature__swiper-slide-svg" width="113.279" height="79.521" viewBox="0 0 113.279 79.521" fill="#fff">
                            <path d="M386.426 253.219c-9.051-.326-17.81 7.175-20 9.21H356.3a1.507 1.507 0 00-.289.059 1.561 1.561 0 00-.29-.059H345.6c-2.2-2.035-10.951-9.553-20-9.21-9.776.375-24.825 11.734-26.08 34.925-1.079 19.957 3.782 42.564 13.519 44.295a17.775 17.775 0 003.151.289c7.691 0 13.876-5.505 20.209-17.748l6.456-12.485 13.134.172.02-.005.022.005 13.134-.172 6.458 12.485c6.335 12.244 12.52 17.75 20.209 17.748a17.931 17.931 0 003.151-.289c9.737-1.73 14.6-24.338 13.519-44.295-1.253-23.192-16.302-34.551-26.076-34.925zm11.974 75.924c-7.609 1.344-13.335-3.2-19.8-15.7l-7.41-14.319-15.178.2-15.179-.2-7.406 14.319c-6.468 12.5-12.194 17.05-19.8 15.7-6.722-1.195-11.851-20.65-10.762-40.817a41.512 41.512 0 015.373-18.836c4.823-8.25 11.94-12.714 17.492-12.927.06 0 .12.005.181 0 8.722-.2 17.755 8.631 17.845 8.722l.49.487h11.479a1.715 1.715 0 00.29-.059 1.649 1.649 0 00.289.059H367.78l.489-.485.005-.005c.159-.157 8.941-8.728 17.537-8.728.161 0 .323 0 .484.01 8.884.34 21.771 11.566 22.862 31.763 1.096 20.167-4.034 39.622-10.757 40.816z" transform="translate(-299.373 -253.207)"/>
                            <path d="M330.56 275.576h-10.21v-9.791a1.673 1.673 0 10-3.347 0v9.791h-10.209a1.673 1.673 0 100 3.347H317v10.628a1.673 1.673 0 003.347 0v-10.628h10.213a1.673 1.673 0 000-3.347z" transform="translate(-295.502 -245.864)"/>
                            <path d="M346.446 270.277h-18.239a1.673 1.673 0 100 3.347h18.238a1.673 1.673 0 000-3.347z" transform="translate(-281.083 -241.712)"/>
                            <path d="M352.267 270.277h-5.621a1.673 1.673 0 100 3.347h5.621a1.673 1.673 0 100-3.347z" transform="translate(-268.666 -241.712)"/>
                            <path d="M362.1 270.277h-5.621a1.673 1.673 0 000 3.347h5.621a1.673 1.673 0 000-3.347z" transform="translate(-262.044 -241.712)"/>
                            <path d="M353.253 263.781a1.673 1.673 0 00-1.673 1.673v5.623a1.673 1.673 0 103.347 0v-5.623a1.673 1.673 0 00-1.674-1.673z" transform="translate(-264.217 -246.087)"/>
                            <path d="M353.253 273.873a1.673 1.673 0 00-1.673 1.673v5.621a1.673 1.673 0 003.347 0v-5.621a1.673 1.673 0 00-1.674-1.673z" transform="translate(-264.217 -239.291)"/>
                        </svg>
                    </div>
                    <div class="rgb-feature__swiper-slide-text">
                        Gaming Mode
                    </div>
                </swiper-slide>
                <swiper-slide class="rgb-feature__swiper-slide">
                    <div class="rgb-feature__swiper-slide-svg-box">
                        <svg class="rgb-feature__swiper-slide-svg" width="112.764" height="91.068" viewBox="0 0 112.764 91.068" fill="#fff">
                            <path d="M518.721 255a3.541 3.541 0 00-3.665.221l-41.564 28.658h-11.105v29.949H473.5l40.587 27.329a4.19 4.19 0 006.53-3.475v-79.543a3.541 3.541 0 00-1.896-3.139zm-53.04 32.173h5.59v23.361h-5.59zm51.645 50.509a.9.9 0 01-1.4.743l-41.365-27.853v-23.43l42.361-29.208a.255.255 0 01.4.211z" transform="translate(-462.387 -254.575)"/>
                            <path d="M521.157 255.038a1.648 1.648 0 00-2.281 2.378c.176.168 17.565 17.112 17.565 40.568 0 23.495-18.708 44.708-18.9 44.919A1.647 1.647 0 10520 345.1c.805-.9 19.736-22.343 19.736-47.116-.001-24.846-17.822-42.218-18.579-42.946z" transform="translate(-426.971 -254.58)"/>
                            <path d="M514.324 260.06a1.648 1.648 0 00-2.281 2.378c.142.135 14.159 13.794 14.159 32.7 0 18.944-15.1 36.076-15.256 36.247a1.646 1.646 0 002.454 2.2c.659-.735 16.1-18.221 16.1-38.443 0-20.302-14.557-34.487-15.176-35.082z" transform="translate(-431.24 -251.331)"/>
                            <path d="M507.773 265.741a1.647 1.647 0 10-2.281 2.377c.1.1 10.305 10.042 10.305 23.8 0 13.8-11.027 26.313-11.14 26.438a1.647 1.647 0 002.456 2.2c.489-.547 11.979-13.56 11.979-28.633 0-15.154-10.857-25.739-11.319-26.182z" transform="translate(-435.308 -247.656)"/>
                        </svg>
                    </div>
                    <div class="rgb-feature__swiper-slide-text">
                        Audio Sync
                    </div>
                </swiper-slide>
                <swiper-slide class="rgb-feature__swiper-slide">
                    <div class="rgb-feature__swiper-slide-svg-box">
                        <svg class="rgb-feature__swiper-slide-svg" width="102.049" height="102.822" viewBox="0 0 102.049 102.822" fill="#fff">
                            <path d="M719.49 277.767a1.213 1.213 0 00-.057-.152c-.02-.033-.053-.05-.076-.08a50.992 50.992 0 00-87.494-.115c-.024.036-.06.057-.08.095s-.019.07-.034.1A50.982 50.982 0 00674.3 354.7a1.41 1.41 0 002.548 0 51.043 51.043 0 0042.488-24.786c.026-.033.056-.059.08-.093a1.477 1.477 0 00.059-.149 50.874 50.874 0 00.013-51.9zm-1.779 49.223l-10.663-6.972a35.141 35.141 0 00-.526-32.634l11.172-6.989a48.026 48.026 0 01.017 46.6zm-42.135 9.584a32.363 32.363 0 1132.363-32.363 32.4 32.4 0 01-32.363 32.363zm40.646-58.642l-11.182 7a35.228 35.228 0 00-28.029-15.912v-13.431a48.157 48.157 0 0139.211 22.343zm-42.081-22.343v13.427a35.218 35.218 0 00-27.527 15.166l-11.542-6.468a48.15 48.15 0 0139.069-22.125zm-40.554 24.582l11.489 6.44a35.107 35.107 0 00-.988 33.374l-10.839 6.671a48.053 48.053 0 01.339-46.485zm1.118 48.958l10.77-6.628a35.252 35.252 0 0028.666 16.9v12.42a48.155 48.155 0 01-39.441-22.692zm42.306 22.7v-12.42a35.248 35.248 0 0028.645-16.872l10.584 6.92a48.15 48.15 0 01-39.23 22.369z" transform="translate(-624.552 -252.684)"/>
                            <path d="M682.372 276.538l-10.167-6.227-4.213 6.412-5.147-3.307-6.229 8.964 5.133 3.208-12.427 20.612v13.2l11.28-5.434 12.869-20.835 4.116 2.69 5.936-9.753-5.37-3.281zm-9.294-2.33l5.237 3.209-2.627 3.89-5.25-3.083zM658.6 311.743l-6.409 3.089V307l12.016-19.929 6.867 4.48zm20.983-24.723l-2.906 4.776-3.591-2.347c-.013-.009-.02-.024-.034-.033l-7.455-4.865a1.383 1.383 0 00-.264-.1l-4.642-2.9 2.931-4.218 5.209 3.345.031-.047 6.521 3.829z" transform="translate(-613.789 -245.024)"/>
                        </svg>
                      </div>
                      <div class="rgb-feature__swiper-slide-text">
                        Full-Spectrum<br>Colors
                      </div>
                </swiper-slide>
                <swiper-slide class="rgb-feature__swiper-slide">
                    <div class="rgb-feature__swiper-slide-svg-box">
                        <svg class="rgb-feature__swiper-slide-svg" width="92.949" height="94.095" viewBox="0 0 92.949 94.095" fill="#fff">
                            <path d="M882.52 254.03a1.214 1.214 0 00-.055-.272 1.353 1.353 0 00-.05-.249 1.31 1.31 0 00-.164-.246 1.419 1.419 0 00-.123-.182 1.375 1.375 0 00-.249-.17 1.2 1.2 0 00-.178-.12 1.352 1.352 0 00-.281-.058 1.2 1.2 0 00-.24-.05H865.9l-.193 44.577a23.246 23.246 0 01-1.544 7.921C856 326.163 843.076 329.3 836.1 329.3s-19.895-3.134-28.065-24.116a11.165 11.165 0 01-.938-3.788c-.125-.927-.3-2.229-.607-4.209l-.288-43.163a1.293 1.293 0 00-.061-.288 1.441 1.441 0 00-.047-.23 1.281 1.281 0 00-.164-.242 1.36 1.36 0 00-.125-.184 1.329 1.329 0 00-.26-.175 1.388 1.388 0 00-.167-.112 1.344 1.344 0 00-.522-.1h-15.285l.139 17.171v.009l.29 35.811a26.258 26.258 0 002.5 10.53c4.338 9.189 17.274 30.565 43.629 30.565s39.291-21.375 43.628-30.565a26.262 26.262 0 002.5-10.561l.271-51.617v-.007zm-2.7 1.346l-.07 13.137h-11.222l.057-13.137zm-76.3 0l.089 13.137h-11.218l-.106-13.137zm73.8 59.689c-11.922 25.252-30.927 29.022-41.194 29.022s-29.274-3.77-41.194-29.022a23.519 23.519 0 01-2.239-9.43l-.28-34.429h11.214l.175 26.1.015.2c.312 2.011.49 3.323.615 4.253a13.571 13.571 0 001.1 4.406c3.025 7.767 12.058 25.831 30.573 25.831s27.548-18.064 30.574-25.831a25.991 25.991 0 001.727-8.86l.113-26.093h11.222l-.18 34.4a23.563 23.563 0 01-2.242 9.453z" transform="translate(-789.571 -252.684)"/>
                            <path d="M823.65 306.212l20.172-33.62h-11.245l.135-18.19v-.158a1.345 1.345 0 00-1.335-1.355h-.011a1.344 1.344 0 00-1.306 1.024l-16.894 28.935h10.484zm-5.793-26.062l12.126-20.772-.12 15.906h9.2l-12.724 21.21V280.15z" transform="translate(-781.406 -252.615)"/>
                        </svg>
                    </div>
                    <div class="rgb-feature__swiper-slide-text">
                        Magnetic<br>Charger
                    </div>
                </swiper-slide>
                <div class="swiper-pagination rgb-feature__swiper-pagination -white" slot="pagination"></div>
            </swiper>
        </div>
    </div>
</div>