<div class="wear-and-tear__popup -in-active" id="popup-text">
    <div class="wear-and-tear__popup-bg" onclick="document.querySelector('#popup-text').classList.add('-in-active')"></div>
    <div class="wear-and-tear__popup-center">
        <div class="wear-and-tear__popup-close" onclick="document.querySelector('#popup-text').classList.add('-in-active')"></div>
        <div class="wear-and-tear__popup-title">Terms & Conditions: </div>
        <div class="wear-and-tear__popup-content">
            <ol>
                <li>US & Canada Purchaser Only</li>
                <li>Your social post must be public. (You may need to add #promotion, #ad depending on your local regulations.)</li>
                <li>Warranty coverage starts from the original purchase date.</li>
                <li>Each Vertagear chair is entitled to warranty extension.</li>
                <li>Vertagear reserves the right to make any changes where it deems necessary in its absolute discretion to these Terms and Conditions at any time. The decisions of Vertagear on all matters relating to the Program shall be final and binding on all customers.</li>
            </ol>
        </div>
    </div>
</div>
