<div class="page-rgb-led-kit__youtube js-parallax-section" data-youtube="{{youtube}}">
    <img src='{{img}}' class="js-parallax-section__bg page-rgb-led-kit__youtube-bg" alt="YouTube preview image">
    <div class="page-rgb-led-kit__youtube-play play-btn"></div>
</div>