<div class="youtube-popup -in-active js-youtube-popup">
    <div class="youtube-popup__close js-youtube-close"></div>
    <div class="youtube-popup__center">
        <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="youtube-popup__iframe js-youtube-iframe"></iframe>
    </div>
</div>