{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-7f14084a"></div>
<div class="ccm-image-slider-container ccm-block-image-slider-arrows">
    <div class="ccm-image-slider">
        <div class="ccm-image-slider-inner">
          <ul id="ccm-image-slider-1487" class="rslides rslides1">
              <li id="rslides1_s0" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;" class="rslides1_on">
                  <img width="1903" height="603" alt="Racing Series" src="{{ 'Racing_Series_banner123.jpg' | asset_url }}">
                  <div class="ccm-image-slider-text">
              <div class="ccm-image-slider-text-block">
                        <div class="ccm-image-slider-title-wrapper">
                        <h2 class="ccm-image-slider-title">Racing Series</h2>
                    </div>
                          <p>{{ settings.racing_series_banner_description }}</p>
                        </div>
          </div>
                  </li>
              </ul>
        </div>

    </div>
</div>