<section class="block block-800series">
  <div class="inner">
    <div class="full-video__bg">
      <div class="full-image-intro__bg -desktop">
        <video
          autoplay
          playsinline
          muted
          defaultMuted
          loop
          class="lazy video-desktop"
          preload="metadata"
          data-poster=""
        >
          <source src="https://cdn.shopify.com/videos/c/o/v/e4d8c36a1e7d44ecb80104c1b07ed2d6.mp4" type="video/mp4">
        </video>
      </div>

      <div class="full-image-intro__bg -mobile">
        <video autoplay playsinline muted defaultMuted loop class="lazy video-mobile" preload="metadata" data-poster="">
          <source data-src="https://cdn.shopify.com/videos/c/o/v/18fe82fe9bd64c8b9e76eef754551d1a.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="full-image-intro__text vertagear-container">
      <div class="full-image-intro__title">A New Breed of Ergonomics</div>
      <div class="full-image-intro__desc">
        Let the new Vertagear 800 Series take your breath away. Our new line adapts to your body, providing maximum
        ergonomic comfort tailored just&nbsp;to&nbsp;you.
      </div>

      <a class="cta cta-learn" href="https://www.vertagear.com/pages/800-ergonomic-gaming-chairs" target="_blank"
        >LEARN MORE</a
      >
    </div>
  </div>
</section>
