<!-- <div class="esport-bottom">
    <div class="esport-bottom__title vertagear-container">
        #teamverta
    </div>
    <div class="vertagear-container esport-bottom__container">
        <div class="esport-bottom__main">
            {% for item in (0..7) %}
                <a class="esport-bottom__ig" href="#">
                    <img src='https://placeimg.com/360/360/any' class="esport-bottom__ig-img">
                </a>
            {% endfor %}
        </div>
    </div>
</div> -->
{% include 'join-team-verta' %}