{{ 'ls.css' | asset_url | stylesheet_tag }}
{{ 'modal-fix.css' | asset_url | stylesheet_tag }}

<div class="popup-wrapper" id="seatPopupWrapper" style="display: none;">
    <div class="popup-background" style="display: block"></div>

    <div id="lsSeat" class="popup">
        <div id="lsSeatPopHeader" class="pop-header">
            <div class="sticky">
                <div class="collapse" style="display: none;">
                    <div class="logo display-mobile">
                        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-logo.svg?v=11658284595547430203">
                    </div>
                    <div class="title display-desktop">VertaAir<sup>TM</sup> Seat</div>
                    <button class="close-btn">
                        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-close.svg?v=1972664831519498879">
                    </button>
                </div>

                <div class="full display-desktop">
                    <div class="logo">
                        <div class="signature">VERTAGEAR SIGNATURES</div>
                        <div class="title">VertaAir<sup>TM</sup> Seat</div>
                    </div>
                    <div class="desc">
                        If you're struggling with tightness and discomfort from the
                        traditional gaming chair, we understand your pain. Our patent
                        pending VertaAir<sup>TM</sup> Seat is a fresh concept that solves the primary
                        issues plaguing traditional chairs.
                    </div>
                    <button class="close-btn">
                        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-close.svg?v=1972664831519498879">
                    </button>
                </div>
            </div>
        </div>

        <!-- Slider main container -->
        <div class="swiper swiperfullpage">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide">
                    <div class="ls-hero videodetectpercent" id="lsSeatHero">

                        <div class="ls-hero__text">
                            <div class="title display-mobile">VertaAir<sup>TM</sup> Seat</div>
                            <div class="ls-lumbar-content desc display-mobile">
                                <div class="see-more">
                                    If you're struggling with tightness and discomfort from the
                                    traditional gaming chair, we understand your pain. Our patent
                                    pending VertaAir<sup>TM</sup> Seat is a fresh concept that solves the primary
                                    issues plaguing traditional chairs.

                                </div>

                            </div>
                        </div>
                        <div class="video-wrapper">

                            <video class="ls-signature__video video-desktop" loop="" preload="" playsinline="">
                                <source src="https://cdn.shopify.com/videos/c/o/v/4494df2d4c2d4bf1859ee2f8642f5d24.mp4" type="video/mp4">
                            </video>

                            <video class="ls-signature__video video-mobile" loop="" preload="" playsinline="">
                                <source src="https://cdn.shopify.com/videos/c/o/v/b9e03ed96f45469a912c466a8f2a1643.mp4" type="video/mp4">
                            </video>


                            <img class="play-btn" id="seatHeroVideoPlayBtn" style="display: none" src="//cdn.shopify.com/s/files/1/1759/4609/files/ls-play-video.svg" />
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="swiper-slide">
                    <div class="ls-signatures-wrapper">
                        <div class="ls-signature">
                            <div class="ls-signature-text">
                                <div class="header">VERTAGEAR SIGNATURES</div>
                                <div class="title">
                                    Pressure Relief for Sit Bones for a Healthy Back
                                </div>
                                <div class="ls-seat-content desc display-mobile">
                                    <div class="see-more">
                                        A major cause of back pain is gravitational pressure not evenly distributed and released when sitting for prolonged hours. Our seat padding is ... <span>See more</span>
                                    </div>
                                    <div class="see-less" style="display: none">
                                        A major cause of back pain is gravitational pressure not evenly distributed and released when sitting for prolonged hours. Our seat padding is inspired by Bernoulli's principle to generate aerodynamic lift that can negate gravitational pressure evenly across your back and bottom.
                                        <br><br>Our VertaAir<sup>TM</sup> Seat comes equipped with eight hexagonal air pillars. These pillars host air tunnels with 4-way air emission tunnels, emitting air in and out to provide breathability and pressure relief on your sit bones for a healthy back. <span>See less</span>
                                    </div>
                                </div>
                                <div class="desc display-desktop">
                                    A major cause of back pain is gravitational pressure not evenly distributed and released when sitting for prolonged hours. Our seat padding is inspired by Bernoulli's principle to generate aerodynamic lift that can negate gravitational pressure evenly across your back and bottom.
                                    <br><br>
                                    Our VertaAir<sup>TM</sup> Seat comes equipped with eight hexagonal air pillars. These pillars host air tunnels with 4-way air emission tunnels, emitting air in and out to provide breathability and pressure relief on your sit bones for a healthy back. 

                                </div>
                            </div>
                            <div class="ls-signature__video-wrapper videodetectpercent">

                                <video class="ls-signature__video video-desktop" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/3b3758f0e1c44602aae42c207f01fd44.mp4" type="video/mp4">
                                </video>

                                <video class="ls-signature__video video-mobile" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/3b3758f0e1c44602aae42c207f01fd44.mp4" type="video/mp4">
                                </video>
                                <img class="play-btn" src="//cdn.shopify.com/s/files/1/1759/4609/files/ls-play-video.svg?v=9488558971119289692">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="swiper-slide">

                    <div class="ls-signatures-wrapper">



                        <div class="ls-signature">
                            <div class="ls-signature-text">
                                <div class="header">VERTAGEAR SIGNATURES</div>
                                <div class="title">Waterfall &amp; Wide Seat Design</div>
                                <div class="ls-seat-content desc display-mobile">
                                    <div class="see-more">
                                        No more numbness in your legs when gaming for hours. The VertaAir<sup>TM</sup> Seat is designed with a soft curvy edge for more space, distributing pressure across yo...
                                        <span>See more</span>
                                    </div>
                                    <div class="see-less" style="display: none">
                                        No more numbness in your legs when gaming for hours. The VertaAir<sup>TM</sup> Seat is designed with a soft curvy edge for more space, distributing pressure across your thighs, knees, and lower body evenly to prevent blockage of blood circulation throughout your legs. As a bonus, the waterfall, wide seat design allows users to retain a well-balanced, comfortable posture, letting them focus on their tasks without nagging discomfort.
                                        <span>See less</span>
                                    </div>
                                </div>
                                <div class="desc display-desktop">
                                    No more numbness in your legs when gaming for hours. The VertaAir<sup>TM</sup> Seat is designed with a soft curvy edge for more space, distributing pressure across your thighs, knees, and lower body evenly to prevent blockage of blood circulation throughout your legs. As a bonus, the waterfall, wide seat design allows users to retain a well-balanced, comfortable posture, letting them focus on their tasks without nagging discomfort.

                                </div>
                            </div>
                            <div class="ls-signature__video-wrapper videodetectpercent">
                                <video class="ls-signature__video video-desktop" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/549c40171a8f4d039fe3e65ec25fb01e.mp4" type="video/mp4">
                                </video>

                                <video class="ls-signature__video video-mobile" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/549c40171a8f4d039fe3e65ec25fb01e.mp4" type="video/mp4">
                                </video>

                                <img class="play-btn" src="//cdn.shopify.com/s/files/1/1759/4609/files/ls-play-video.svg?v=9488558971119289692">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="ls-footer"> </div>

    </div>

    <a class="up-btn display-desktop" href="#lsSeatHero">
        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/up.svg?v=6398841473404668040">
    </a>
</div>