<div class="signatures-item" id="signatures-3">
  <div class="signatures-topbar js-popups" popip="lumbarsl5800">
    <div class="title"><span>VERTAGEAR SIGNATURES</span> ContourMax<sup>TM</sup> Lumbar</div>
    <div class="description">
      What if you could prevent back pain before it comes an issue? Our new ContourMax<sup>TM</sup> Lumbar embedded
      within the backrest works like magic, adapting itself to your body to support a healthy posture as you game or
      work for countless hours. Prevention is better than treatment.
    </div>
    <div class="cta">
      <a class="index-signature__swiper-slide-btn -blue vertagear-btn ">Learn More</a>
    </div>
  </div>
  <div class="signatures-visual">
    <img src="{{ 'fe800-visual-ContourMax.jpg' | asset_img_url: '2000x' }}">
    <div class="scroll-to-play">
      <img src="{{'fe800-scroll-to-play.svg'| asset_url}}"> <span>Scroll to discover more</span>
    </div>
  </div>
  <div class="signatures-video ">
    <video
      muted
      defaultMuted
      playsinline
      loop
      class="full-image-intro__bg-video lazy video-desktop"
      preload="metadata"
      data-poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/114ae13064354537bd177e4653b15afd.mp4" type="video/mp4">
    </video>

    <video
      muted
      defaultMuted
      playsinline
      loop
      class="full-image-intro__bg-video lazy video-mobile"
      preload="metadata"
      data-poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/2e6b14c103c84652974666c5bfea3c4a.mp4" type="video/mp4">
    </video>

    <div class="cta">
      <a class="index-signature__swiper-slide-btn js-popups" popip="lumbarsl5800">Learn More</a>
    </div>
  </div>
</div>
