<div class="signatures-item " id="signatures-4">
  <div class="signatures-topbar js-popups" popip="seatsl5800">
    <div class="title"><span>VERTAGEAR SIGNATURES</span> VertaAir<sup>TM</sup> Seat</div>
    <div class="description">
      If you're struggling with tightness and discomfort from the traditional gaming chair, we understand your pain. Our
      patent pending VertaAir<sup>TM</sup> Seat is a fresh concept that solves the primary issues plaguing traditional
      chairs.
    </div>
    <div class="cta">
      <a class="index-signature__swiper-slide-btn -blue vertagear-btn ">Learn More</a>
    </div>
  </div>
  <div class="signatures-visual">
    <img src="{{'fe800-visual-VertaAir.jpg'| asset_img_url: '1000x' }}">
    <div class="scroll-to-play">
      <img src="{{'fe800-scroll-to-play.svg'| asset_url}}"> <span>Scroll to discover more</span>
    </div>
  </div>
  <div class="signatures-video ">
    <video
      muted
      defaultMuted
      playsinline
      loop
      class="full-image-intro__bg-video lazy video-desktop"
      preload="metadata"
      data-poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/9b49b8a394594466b0a521dce8148a55.mp4" type="video/mp4">
    </video>

    <video
      muted
      defaultMuted
      playsinline
      loop
      class="full-image-intro__bg-video lazy video-mobile"
      preload="metadata"
      data-poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/0c59d965bc5047ef9beee6402b1d354f.mp4" type="video/mp4">
    </video>

    <div class="cta">
      <a class="index-signature__swiper-slide-btn js-popups" popip="seatsl5800">Learn More</a>
    </div>
  </div>
</div>
