{{ 'ls.css' | asset_url | stylesheet_tag }}
{{ 'modal-fix.css' | asset_url | stylesheet_tag }}

<div class="popup-wrapper" id="lumbarPopupWrapper">
    <div class="popup-background" style="display: block"></div>

    <div id="lsLumbar" class="popup">

        <div id="lsLumbarPopHeader" class="pop-header ">
            <div class="sticky">
                <div class="collapse" style="display: none;">
                    <div class="logo display-mobile">
                        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-logo.svg?v=11658284595547430203">
                    </div>
                    <div class="title display-desktop">ContourMax<sup>TM</sup> Lumbar</div>
                    <button class="close-btn">
                        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-close.svg?v=1972664831519498879">
                    </button>
                </div>

                <div class="full display-desktop">
                    <div class="logo">
                        <div class="signature">VERTAGEAR SIGNATURES</div>
                        <div class="title">ContourMax<sup>TM</sup> Lumbar</div>
                    </div>
                    <div class="desc">

                        What if you could prevent back pain before it comes an issue? Our new ContourMax<sup>TM</sup> Lumbar embedded within the backrest works like magic, adapting itself to your body to support a healthy posture as you game or work for countless hours. Prevention is better than treatment.

                    </div>
                    <button class="close-btn">
                        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-close.svg?v=1972664831519498879">
                    </button>
                </div>
            </div>
        </div>
        <!-- Slider main container -->
        <div class="swiper swiperfullpage">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="ls-hero" id="lsLumbarHero">
                        <div class="ls-hero__text">
                            <div class="title display-mobile">ContourMax<sup>TM</sup> Lumbar</div>
                            <div class="ls-lumbar-content desc display-mobile">
                                <div class="see-more">
                                    What if you could prevent back pain before it comes an issue? Our new ContourMax<sup>TM</sup> Lumbar embedded within the backrest works like magic, adapting itself to your body to...
                                    <span>See more</span>
                                </div>
                                <div class="see-less" style="display: none">
                                    What if you could prevent back pain before it comes an issue? Our new ContourMax<sup>TM</sup> Lumbar embedded within the backrest works like magic, adapting itself to your body to support a healthy posture as you game or work for countless hours. Prevention is better than treatment. <br/> <span>See less</span>
                                </div>
                            </div>
                        </div>
                        <div class="video-wrapper videodetectpercent">
                            <video autoplay width="100%" id="lumbarHeroVideo" loop preload playsinline class="display-desktop video-desktop">
                                <source src="https://cdn.shopify.com/videos/c/o/v/b8620879cc204735b8570291c1bb50db.mp4" type="video/mp4" />
                            </video>
                            <video width="100%" id="lumbarHeroVideoMobile" loop preload playsinline class="display-mobile video-mobile">
                                <source src="https://cdn.shopify.com/videos/c/o/v/096011f785c44c759c261d32e2c8bf54.mp4" type="video/mp4" />
                            </video>
                            <img class="play-btn" id="lumbarHeroVideoPlayBtn" src="//cdn.shopify.com/s/files/1/1759/4609/files/ls-play-video.svg" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">

                    <div class="ls-signatures-wrapper">
                        <div class="ls-signature">
                            <div class="ls-signature-text">
                                <div class="header">VERTAGEAR SIGNATURES</div>
                                <div class="title">Proper Posture for a Healthy Back</div>
                                <div class="ls-lumbar-content desc display-mobile">
                                    <div class="see-more">
                                        What if you could prevent back pain before it comes an issue?
                                        We’re revolutionizing the flat design of the prototypical
                                        lumbar and turning it into a... <span>See more</span>
                                    </div>
                                    <div class="see-less" style="display: none">
                                        What if you could prevent back pain before it comes an issue?
                                        We’re revolutionizing the flat design of the prototypical
                                        lumbar and turning it into a contoured innovation. Our
                                        ContourMax<sup>TM</sup> Lumbar hosts two levels of modules, with the top
                                        level positioned towards your midback and the bottom level
                                        aligned with your lower back to fully support your backbone.
                                        <br><br>
                                        The ContourMax<sup>TM</sup> alleviates tension throughout by adapting to
                                        your body’s shape and movement, keeping your back in a healthy
                                        posture no matter how long you sit or jitter around.
                                        <br><br>
                                        Prevention is better than treatment. <span>See less</span>
                                    </div>
                                </div>
                                <div class="desc display-desktop">
                                    What if you could prevent back pain before it comes an issue?
                                    We’re revolutionizing the flat design of the prototypical lumbar
                                    and turning it into a contoured innovation. Our ContourMax<sup>TM</sup>
                                    Lumbar hosts two levels of modules, with the top level
                                    positioned towards your midback and the bottom level aligned
                                    with your lower back to fully support your backbone.
                                    <br><br>
                                    The ContourMax<sup>TM</sup> alleviates tension throughout by adapting to your
                                    body’s shape and movement, keeping your back in a healthy
                                    posture no matter how long you sit or jitter around.
                                    <br><br>
                                    Prevention is better than treatment.
                                </div>
                            </div>
                            <div class="ls-signature__video-wrapper videodetectpercent">
                                <video class="ls-signature__video video-desktop" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/25583209b65e4db3bda03ee6355c88e2.mp4" type="video/mp4">
                                </video>

                                <video class="ls-signature__video video-mobile" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/25583209b65e4db3bda03ee6355c88e2.mp4" type="video/mp4">
                                </video>

                                <img class="play-btn" src="//cdn.shopify.com/s/files/1/1759/4609/files/ls-play-video.svg?v=9488558971119289692">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">

                    <div class="ls-signatures-wrapper">
                        <div class="ls-signature">
                            <div class="ls-signature-text">
                                <div class="header">VERTAGEAR SIGNATURES</div>
                                <div class="title">Dynamic Lumbar and Middle Back Support</div>
                                <div class="ls-lumbar-content desc display-mobile">
                                    <div class="see-more">
                                        Sitting still for extended periods can cause muscle pains in your back and chest. The four TPE modules of the ContourMax<sup>TM</sup> Lumbar and their 64 responsive... <span>See more</span>
                                    </div>
                                    <div class="see-less" style="display: none">
                                        Sitting still for extended periods can cause muscle pains in your back and chest. The four TPE modules of the ContourMax<sup>TM</sup> Lumbar and their 64 responsive branches relax your muscles.
                                        <br><br>
                                        In addition, the ContourMax<sup>TM</sup> Lumbar is instinctively flexible, cuing your body to shift to different positions to retain ergonomic comfort when sitting for prolonged hours.
                                        <br><br>
                                        Game healthier and harder. <span>See less</span>
                                    </div>
                                </div>
                                <div class="desc display-desktop">
                                    Sitting still for extended periods can cause muscle pains in your back and chest. The four TPE modules of the ContourMax<sup>TM</sup> Lumbar and their 64 responsive branches relax your muscles.

                                    <br><br>
                                    In addition, the ContourMax<sup>TM</sup> Lumbar is instinctively flexible, cuing your body to shift to different positions to retain ergonomic comfort when sitting for prolonged hours. <br><br>
                                    Game healthier and harder.
                                </div>
                            </div>
                            <div class="ls-signature__video-wrapper videodetectpercent">
                                <video class="ls-signature__video video-desktop" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/2e374b1904a64ff9b08f1fa362492ba1.mp4" type="video/mp4">
                                </video>

                                <video class="ls-signature__video video-mobile" loop="" preload="" playsinline="">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/2e374b1904a64ff9b08f1fa362492ba1.mp4" type="video/mp4">
                                </video>

                                <img class="play-btn" src="//cdn.shopify.com/s/files/1/1759/4609/files/ls-play-video.svg?v=9488558971119289692">
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>




        <div class="ls-footer"></div>


    </div>

    <a class="up-btn display-desktop" href="#lsLumbarHero">
        <img src="//cdn.shopify.com/s/files/1/1759/4609/files/up.svg?v=6398841473404668040">
    </a>
</div>