<div class="signatures-item section" id="number3">
    <div class="signatures-topbar">
        <div class="title"><span>VERTAGER SIGNATURES</span> ContourMax® Lumbar</div>
        <div class="description">What if you could prevent back pain before it comes an issue? Our new
            ContourMax Lumbar embedded within the backrest works like magic, adapting itself to your body to
            support a healthy posture. Prevention is better than treatment.</div>
        <div class="cta">
            <a href="#" class="index-signature__swiper-slide-btn -blue vertagear-btn -desktop">Learn More</a>
        </div>
    </div>
    <div class="signatures-visual">
        <img class="lazyload" data-src="{{'fe800-signatures-visual1.jpg'|asset_img_url}}"  />
    </div>
</div>
<div class="signatures-item section ">
    <div class="signatures-topbar">
        <div class="title"><span>VERTAGER SIGNATURES</span> VertaAir® Seat</div>
        <div class="description">If you're struggling with tightness and discomfort from the traditional gaming
            chair, we understand your pain. Our patent pending VertaAir Seat is a fresh concept that solves the
            primary issues plaguing traditional chairs.</div>
        <div class="cta">
            <a href="#" class="index-signature__swiper-slide-btn -blue vertagear-btn -desktop">Learn More</a>
        </div>
    </div>
    <div class="signatures-visual">
        <img class="lazyload" data-src="{{'fe800-signatures-visual2.jpg'|asset_img_url}}" />
    </div>
</div>
<div class="signatures-item section ">
    <div class="signatures-topbar">
        <div class="title"><span>VERTAGER SIGNATURES</span> RGB Led Upgrade</div>
        <div class="description">The world's only audio-synced, app-controlled RGB kit for your seated
            experience takes you beyond the stratosphere.</div>
        <div class="cta">
            <a href="#" class="index-signature__swiper-slide-btn -blue vertagear-btn -desktop">Learn More</a>
        </div>
    </div>
    <div class="signatures-visual">
        <img class="lazyload" data-src="{{'fe800-signatures-visual3.jpg'|asset_img_url}}" />
    </div>
</div>
<div class="signatures-item section ">
    <div class="signatures-topbar">
        <div class="title"><span>VERTAGER SIGNATURES</span> HygennX</div>
        <div class="description">HygennX, from Vertagear, uses patented coffee ground nanotechnology in
            breathable cloth to deliver natural odor control with quick-drying functionality and silver-coated
            embroidery to neutralize bacteria growth while prolonging the life of your chair and accessories.
        </div>
        <div class="cta">
            <a href="#" class="index-signature__swiper-slide-btn -blue vertagear-btn -desktop">Learn More</a>
        </div>
    </div>
    <div class="signatures-visual">
        <img class="lazyload" data-src="{{'fe800-signatures-visual4.jpg'| asset_img_url}}" />
    </div>
</div>