<div class="reviews-overlay js-reviews-close"></div>
<div class="reviews-close js-reviews-close"></div>
<div class="reviews-inner">
    <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}"></div>
</div>