<div class="wps_in_comfort">
        <div class="wps_in_comfort-title">
            <div class="col">Work, Play, and Study <br />
                in Comfort</div>
            <div class="col">Our chairs are designed for everyday use, whether you wish to work, game, study, or
                just relax. Enjoy the best ergonomic experience no matter what you're doing for as long as you need.</div>
        </div>
        <div class="wps_in_comfort-inner gaming">
            <div class="item gaming active">
                <div class="content">
                    <h3>Gaming</h3>
                    <p>Run, jump, slash, shoot, or just farm—no matter what your game demands of you, the 800 Series is here
                        to support you. Game for short or extended periods without worrying about discomfort or pain.</p>
                </div>
            </div>
            <div class="item streaming">
                <div class="content">
                    <h3>Streaming</h3>
                    <p>About to embark on a 24-hour streaming marathon? Or do you want to just sit back and chill with your
                        viewers? Either way, you won't find a better option to carry you through your session than this.</p>
                </div>
            </div>
            <div class="item wfh">
                <div class="content">
                    <h3>Working</h3>
                    <p>A new normal requires new ingenuity to support your livelihood. Sitting in meetings, coding, or
                        typing throughout the day as you now work remote? Listen to the echoing pain throughout your
                        body—it's time for a chair that will meet your new everyday lifestyle.</p>
                </div>
            </div>
            <div class="item studying">
                <div class="content">
                    <h3>Studying</h3>
                    <p>Cramming for exams or typing up an enormous thesis? We've all been there. Sink into the gentle
                        embrace of our chairs and allow yourself to focus purely on your studies. Don't let any sort of
                        pesky discomfort distract you when you're zoned in.</p>
                </div>
            </div>
        </div>
    </div>

    

{% schema %}
{
"class": "fp-auto-height"
}
{% endschema %}