<div class="section-rgb-app">

    <div class="rgb-kit__header">
        <h3>How to control RGB LED KIT</h3>
        <h1>SIMPLE CONTROLS FOR YOUR RGB</h1>
        <p>
            Select one of the below fan-favorite applications to get your personalized experience started.
        </p>
    </div>

    <div class="content-rgb-kit__apps">
        <div class="swiper mySwiper-js">
            <div class="swiper-wrapper">
                <div class="item swiper-slide">
                    <div class="wrapper">
                        <div class="content">
                            <h2>Full Range Of Light With SignalRGB</h2>
                            <p class="desc">
                                Match your battlestation to your desired ambiance for every
                                occasion. Enjoy true freedom to customize light modes, color
                                combinations, all at a push of a button.
                            </p>
                            <div class="rgb-actions">
                                <a href="https://signalrgb.s3.us-west-004.backblazeb2.com/Install%20SignalRgb.exe" target="_blank" class="btn btn-download mb-hide">
                                    <img src="//cdn.shopify.com/s/files/1/1759/4609/t/73/assets/window-icon.svg?v=122757780823621550521646969599">
                                    Download Application
                                </a>
                                <a href="https://www.signalrgb.com/" target="_blank" class="btn btn-learn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item swiper-slide">
                    <div class="wrapper">
                        <div class="content">
                            <h2>NZXT cam RGB Application</h2>
                            <p class="desc">
                                Manage performance, temperatures, and devices all from a single application. NZXT CAM is fast, efficient, and easy-to-use, allowing you to control every aspect of your computer.
                            </p>
                            <div class="rgb-actions">
                                <a href="https://nzxt-app.nzxt.com/NZXT-CAM-Setup.exe?_gl=1*1srnu3m*_ga*NTMwNzUxOTM5LjE2NTA2MTIxMjg" target="_blank" class="btn btn-download mb-hide">
                                    <img src="//cdn.shopify.com/s/files/1/1759/4609/t/73/assets/window-icon.svg?v=122757780823621550521646969599">
                                    Download Application
                                </a>
                                <a href="https://nzxt.com/software/cam" target="_blank" class="btn btn-learn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination-js"></div>
          
        </div>
       


    </div>