<div class="section-review">
    <div class="vertagear-container">
        <div class="review-title">
            <h2>Customer Review</h2>
        </div>
        <div class="review-content">
            <div class="content-tag reviews-inner active" id="tag1">
                <div class="product-detail-section__accordion-content-inner">
                    <div class="reviews-data" data-oke-reviews-widget data-oke-reviews-product-id="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>