<div class="fe800-popup rgb-popup">
    <div id="rgbModal">
      {% include 'fe800-rgballcontents',_page: 800 %}
    </div>
</div>
{% schema %}
{
  "name": "Fe800 RGB",
  "tag": "div",
  "class": "fp-auto-height"
}
{% endschema %}