
<div id="rgbModal" class="nam-modal">
    <div class="nam-modal__wrapper" id="RGBPopupWrapper">
        <div class="nam-modal__background"></div>
        <div class="nam-modal__content popup" id="lsRGBModal">
            <!-- <div class="nam-modal__content__header">
        <button class="close-btn"><img src={{ 'ld-rgb-close-modal.svg' | asset_url }} /></button>
      </div> -->
            <div id="lsRGBPopHeader" class="pop-header">
                <div class="sticky">
                    <div class="collapse" style="display: none;">
                        <div class="logo display-mobile">
                            <img src="{{ 'pop-logo.svg' | file_url }}" />
                        </div>
                        <div class="title display-desktop">RGB LED Kit</div>
                        <button class="close-btn">
                            <img src="{{ 'pop-close.svg' | file_url }}" />
                        </button>
                    </div>

                    <div class="full display-desktop">
                        <div class="logo">
                            <div class="signature">VERTAGER SIGNATURES</div>
                            <div class="title">RGB LED Kit</div>
                        </div>
                        <div class="desc">
                            Our Patented RGB LED Kits are upgradable to elevate your gaming and streaming experience
                            with the world's only wirelessly PC control RGB LED gaming chair. Immerse in your game with
                            Audio Visual Sync as well as Light Sync and boost your team morale with your own customized
                            logo.
                        </div>
                        <button class="close-btn">
                            <img src="{{ 'pop-close.svg' | file_url }}" />
                        </button>
                    </div>
                </div>
            </div>
            {% include 'fe800-rgballcontents' %}
        </div>
    </div>
</div>
