{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-a183e7e4"></div>
{{ 'vertagear-chair-selection-jump.scss.css' | asset_url | stylesheet_tag }}
<div class="find-perfect-chair">
  <div class="grid-container">
  	<h2>Try our Chair Selection Tool to be matched to the perfect chair for you.</h2>
    <div class="vertagear-jump-list-container">
      <ul>
        <li>
          <a class="vertagear-learn-more" href="/pages/chair-selection-tool">Discover Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Find Perfect Chair",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
