<div class="page-affiliates">
    <div class="scroll-down-wrapper" id="main-content">
        <div class="page-affiliates__desc" >
            <div class="vertagear-container  -content">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>