<div class="moreproduct-features">
    <div class="moreproduct-features-inner">
        <h3>More Product Features</h3>
        <p>The Vertagear 800 Series revolutionizes ergonomics to an entirely different dimension. Through a series of
            groundbreaking research and new technology focused on spinal health, we've designed a chair that will tailor
            itself to you specifically. Dive into the details and see for yourself what makes our new line of chairs the
            best for you.</p>
        <a class="index-signature__swiper-slide-btn -blue vertagear-btn -desktop js-popups" onclick="namOpenApfPopup()">Learn More</a>
    </div>
</div>

{% render 'apf-modal' %}

{% schema %}
{
  "class": "fp-auto-height"
}
{% endschema %}