<div class="signatures-item  " id="signatures-5">
    <div class="signatures-topbar">
        <div class="title"><span>VERTAGEAR SIGNATURES</span> RGB LED Kit</div>
        <div class="description">Our Patented RGB LED Kits are upgradable to elevate your gaming experience with the world's first wirelessly controlled RGB LED with interactive modes for music and gameplay sounds.</div>
        <div class="cta">
            <a class="index-signature__swiper-slide-btn -blue vertagear-btn" onclick="namRgbModalOpen()">Learn More</a>
        </div>
    </div>
    <div class="signatures-visual">
        <img loading="lazy" data-src="{{'fe800-signatures-visual3.jpg'| asset_url}}" />
        <div class="scroll-to-play"><img src="{{'fe800-scroll-to-play.svg' | asset_url}}"/> <span>Scroll to discover more</span></div>
    </div>
    <div class="signatures-video">
        <video muted defaultMuted playsinline loop class="full-image-intro__bg-video lazy" preload="metadata" data-poster="">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/59a71b2bb56b43579d92a6c5db46844e.mp4" type="video/mp4">
        </video>
    </div>
</div>