<div class="signatures-item " id="signatures-4">
    <div class="signatures-topbar">
        <div class="title"><span>VERTAGEAR SIGNATURES</span> VertaAir<sup>TM</sup> Seat</div>
        <div class="description">If you're struggling with tightness and discomfort from the traditional gaming
            chair, we understand your pain. Our patent pending VertaAir<sup>TM</sup> Seat is a fresh concept that solves the
            primary issues plaguing traditional chairs.</div>
        <div class="cta">
            <a class="index-signature__swiper-slide-btn -blue vertagear-btn" onclick="namOpenSeatPopup()">Learn More</a>
        </div>
    </div>
    <div class="signatures-visual">
        <img class="lazyload" data-src="{{ 'fe800-signatures-visual2.jpg' | asset_url }}" />
        <div class="scroll-to-play"><img src="{{'fe800-scroll-to-play.svg' | asset_url}}"/> <span>Scroll to discover more</span></div>
    </div>
    <div class="signatures-video">
        <video muted defaultMuted playsinline loop class="full-image-intro__bg-video lazy" preload="metadata" data-poster="">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/c9318c9f64a94948a0323e1b672a73e7.mp4" type="video/mp4">
        </video>
    </div>
</div>