<style>
  .fe800-specs__contourmax-lumbar {
    padding: 128px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 128px;
    background: #e7e7e7;
  }
  .fe800-specs__contourmax-lumbar-title {
    color: #000;
    text-align: center;
    font-size: 59px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -1.18px;
  }
  .fe800-specs__contourmax-lumbar__section {
    display: flex;
    width: 100%;
  }
  .fe800-specs__contourmax-lumbar__section__details {
    width: 50%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  .fe800-specs__contourmax-lumbar__section__details__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
  }
  .fe800-specs__contourmax-lumbar__section__details__img {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .details-text {
    font-family: Poppins;
    font-size: 29px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.58px;
    width: 443px;
    padding: 16px 0px 16px 24px;
    margin: 0;
  }
  .desc-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.14px;
    color: #5d5d5d;
    margin: 0;
  }
  .border {
    border-left: 3px solid #4e4cf7;
  }
  .disabled-text {
    color: #d1d1d1;
  }
  @media (max-width: 576px) {
    .fe800-specs__contourmax-lumbar {
      padding: 64px 16px;
      gap: 64px;
    }
    .fe800-specs__contourmax-lumbar-title {
      font-size: 29px;
      line-height: 100%;
      letter-spacing: -0.58px;
    }
    .fe800-specs__contourmax-lumbar__section {
      flex-direction: column;
      gap: 16px;
    }
    .details-text {
      font-size: 14px;
      font-weight: 500;
    }
    .disabled-text {
      display: none;
    }
  }
</style>

<div class="fe800-specs__contourmax-lumbar">
  <div class="fe800-specs__contourmax-lumbar-title">ContourMax™ Lumbar</div>
  <div class="fe800-specs__contourmax-lumbar__section">
    <div class="fe800-specs__contourmax-lumbar__section__details">
      <div class="fe800-specs__contourmax-lumbar__section__details__text">
        <p class="details-text border">PREVENTION IS BETTER THAN TREATMENT</p>
        <p class="details-text disabled-text">PROPER POSTURE FOR A HEALTHY BACK</p>
        <p class="details-text disabled-text">DYNAMIC LUMBAR AND MIDDLE BACK SUPPORT</p>
      </div>
    </div>
    <div class="fe800-specs__contourmax-lumbar__section__details__img">
      <img
        src="{{ 'new-fe800-contourmax-lumbar-1.png' |  asset_url }}"
        alt="new-fe800-contourmax-lumbar-1"
        width="auto"
        height="auto"
      >
      <p class="desc-text">
        What if you could prevent back pain before it comes an issue? Our new ContourMaxTM Lumbar embedded within the
        backrest works like magic, adapting itself to your body to support a healthy posture as you game or work for
        countless hours.
      </p>
    </div>
  </div>
  <div class="fe800-specs__contourmax-lumbar__section">
    <div class="fe800-specs__contourmax-lumbar__section__details">
      <div class="fe800-specs__contourmax-lumbar__section__details__text">
        <p class="details-text disabled-text">PREVENTION IS BETTER THAN TREATMENT</p>
        <p class="details-text border">PROPER POSTURE FOR A HEALTHY BACK</p>
        <p class="details-text disabled-text">DYNAMIC LUMBAR AND MIDDLE BACK SUPPORT</p>
      </div>
    </div>
    <div class="fe800-specs__contourmax-lumbar__section__details__img">
      <img
        src="{{ 'new-fe800-contourmax-lumbar-2.png' |  asset_url }}"
        alt="new-fe800-contourmax-lumbar-2"
        width="auto"
        height="auto"
      >
      <p class="desc-text">
        We’re revolutionizing the flat design of the prototypical lumbar and turning it into a contoured innovation. Our
        ContourMax™ Lumbar hosts two levels of modules, with the top level positioned towards your midback and the
        bottom level aligned with your lower back to fully support your backbone.<br>
        <br>
        The ContourMax™ alleviates tension throughout by adapting to your body’s shape and movement, keeping your back
        in a healthy posture no matter how long you sit or jitter around.
      </p>
    </div>
  </div>
  <div class="fe800-specs__contourmax-lumbar__section">
    <div class="fe800-specs__contourmax-lumbar__section__details">
      <div class="fe800-specs__contourmax-lumbar__section__details__text">
        <p class="details-text disabled-text">PREVENTION IS BETTER THAN TREATMENT</p>
        <p class="details-text disabled-text">PROPER POSTURE FOR A HEALTHY BACK</p>
        <p class="details-text border">DYNAMIC LUMBAR AND MIDDLE BACK SUPPORT</p>
      </div>
    </div>
    <div class="fe800-specs__contourmax-lumbar__section__details__img">
      <img
        src="{{ 'new-fe800-contourmax-lumbar-3.png' |  asset_url }}"
        alt="new-fe800-contourmax-lumbar-3"
        width="auto"
        height="auto"
      >
      <p class="desc-text">
        We’re revolutionizing the flat design of the prototypical lumbar and turning it into a contoured innovation. Our
        ContourMax™ Lumbar hosts two levels of modules, with the top level positioned towards your midback and the
        bottom level aligned with your lower back to fully support your backbone.<br>
        <br>
        The ContourMax™ alleviates tension throughout by adapting to your body’s shape and movement, keeping your back
        in a healthy posture no matter how long you sit or jitter around.
      </p>
    </div>
  </div>
</div>
