<style>
  .fe800-specs__verta-air-seat {
    padding: 128px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 128px;
    background: linear-gradient(180deg, #e7e7e7 0%, #b0b0b0 100%);
  }
  .fe800-specs__verta-air-seat__title {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 59px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -1.18px;
  }
  .fe800-specs__verta-air-seat__section {
    display: flex;
    gap: 128px;
    align-items: center;
  }
  .fe800-specs__verta-air-seat__section img {
    width: auto;
  }
  .fe800-specs__verta-air-seat__section-desc {
    width: 443px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .fe800-specs__verta-air-seat__section-desc__title {
    font-size: 29px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.58px;
  }
  .fe800-specs__verta-air-seat__section-desc__text {
    width: 328px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.14px;
  }
  @media (max-width: 576px) {
    .fe800-specs__verta-air-seat {
      padding: 64px 16px;
      gap: 64px;
    }
    .fe800-specs__verta-air-seat__title {
      font-size: 29px;
      line-height: 100%;
      letter-spacing: -0.58px;
    }
    .fe800-specs__verta-air-seat__section {
      gap: 32px;
      flex-direction: column;
    }
    .fe800-specs__verta-air-seat__section-desc {
      width: 343px;
      gap: 16px;
    }
    .fe800-specs__verta-air-seat__section-desc__title {
      font-size: 14px;
      font-weight: 500;
    }
  }
</style>

<div class="fe800-specs__verta-air-seat">
  <div class="fe800-specs__verta-air-seat__title">VertaAir™ Seat</div>
  <div class="fe800-specs__verta-air-seat__section">
    <img
      src="{{ 'new-fe800-verta-air-seat-1.png' |  asset_url }}"
      alt="fe800-verta-air-seat-1"
      width="auto"
      height="auto"
    >
    <div class="fe800-specs__verta-air-seat__section-desc">
      <div class="fe800-specs__verta-air-seat__section-desc__title">
        NO MORE NUMBNESS IN YOUR LEGS WHEN GAMING FOR HOURS
      </div>
      <div class="fe800-specs__verta-air-seat__section-desc__text">
        If you're struggling with tightness and discomfort from the traditional gaming chair, we understand your pain.
        Our patent pending VertaAirTM Seat is a fresh concept that solves the primary issues plaguing traditional
        chairs.
      </div>
    </div>
  </div>
  <div class="fe800-specs__verta-air-seat__section">
    <img
      src="{{ 'new-fe800-verta-air-seat-2.png' |  asset_url }}"
      alt="fe800-verta-air-seat-2"
      width="auto"
      height="auto"
    >
    <div class="fe800-specs__verta-air-seat__section-desc">
      <div class="fe800-specs__verta-air-seat__section-desc__title">
        PRESSURE RELIEF FOR SIT BONES FOR A HEALTHY BACK
      </div>
      <div class="fe800-specs__verta-air-seat__section-desc__text">
        A major cause of back pain is gravitational pressure not evenly distributed and released when sitting for
        prolonged hours. Our seat padding is inspired by Bernoulli's principle to generate aerodynamic lift that can
        negate gravitational pressure evenly across your back and bottom. <br>
        <br>
        Our VertaAir™ Seat comes equipped with eight hexagonal air pillars. These pillars host air tunnels with 4-way
        air emission tunnels, emitting air in and out to provide breathability and pressure relief on your sit bones for
        a healthy back.
      </div>
    </div>
  </div>
  <div class="fe800-specs__verta-air-seat__section">
    <img
      src="{{ 'new-fe800-verta-air-seat-3.png' |  asset_url }}"
      alt="fe800-verta-air-seat-3"
      width="auto"
      height="auto"
    >
    <div class="fe800-specs__verta-air-seat__section-desc">
      <div class="fe800-specs__verta-air-seat__section-desc__title">WATERFALL & WIDE SEAT DESIGN</div>
      <div class="fe800-specs__verta-air-seat__section-desc__text">
        No more numbness in your legs when gaming for hours. The VertaAir™ Seat is designed with a soft curvy edge for
        more space, distributing pressure across your thighs, knees, and lower body evenly to prevent blockage of blood
        circulation throughout your legs. <br>
        <br>
        As a bonus, the waterfall, wide seat design allows users to retain a well-balanced, comfortable posture, letting
        them focus on their tasks without nagging discomfort.
      </div>
    </div>
  </div>
</div>
