{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-68688741"></div>
{% assign fullImageBanner = "
sl5000-banner-1.jpg|
sl5000-banner-3.jpg|
sl5000-banner-2.jpg" 
| split: "|" %}
{% assign fullImageClass = "
-text-left -text-bottom-mobile|
-text-right -text-bottom-mobile|
-text-right -text-top-mobile" 
| split: "|" %}
{% assign fullImageBannerMobile = "
sl5000-mobile-1.jpg|
sl5000-mobile-3.jpg|
sl5000-mobile-2.jpg" 
| split: "|" %}
{% assign fullImageTitle = "
Effortless Assembly|
PUC Synthetic Faux Leather|
Hygenn X" 
| split: "|" %}
{% assign fullImageTitleSub = "||
(Midnight Blue Exclusive)" 
| split: "|" %}
{% assign fullImageDesc = "
Ergonomically designed to contour to the shape of the arm. Cushioned and adjustable in height, the
armrest provides support to the forearm.|
While PVC and PU are frequently used in many faux-leather products, both experience tradeoffs between
confort and durability. With the introduction of PUC, we take the best attributes of both materials and
combined them into one. PUC retains the strength of PVC while maintaining the delicate softness of PU
leather, providing a low maintenance solution that is less prone to wear and tear, without ever
sacrificing comfort.|
As the marriage of the Coffee Fiber Padding and Silver Lining Embroidery Vertagear fans love, Hygenn X
was designed with a patented coffee infused fiber to limit odor and increase breathability, while
maintaining bacteria control properties from the silver thread to prioritize cleanliness and confort in
the areas most sat on during long hours of intense gameplay." | split: "|" %}