<link rel="stylesheet" href="{{ 'nam-product-rgb-kit.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'nam-product-carousel.css' | asset_url }}">

<div id="ldRgbApps" class="nam-rgb-kit">
    <div class="nam-rgb-kit__header">
        <div class="title">How to control RGB LED KIT</div>
        <div class="extra-title">SIMPLE CONTROLS FOR YOUR RGB</div>
        <div class="desc">
            Select one of the below fan-favorite applications to get your personalized experience started.
        </div>
    </div>
    <div class="nam-rgb-kit__apps">
        <div class="swiper swipersnormal" id="swipercontrols">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide each1">
                    <div class="wrapper">
                        <div class="content">
                            <div class="title">Full Range Of Light With SignalRGB</div>
                            <div class="desc">
                                Match your battlestation to your desired ambiance for every
                                occasion. Enjoy true freedom to customize light modes, color
                                combinations, all at a push of a button.
                            </div>
                            <div class="actions">
                                <a href="https://signalrgb.s3.us-west-004.backblazeb2.com/Install SignalRgb.exe" target="_blank"
                                    class="download nam-product-main-btn">
                                    <img src="{{ 'window-icon.svg' | asset_url }}" />
                                    Download Application
                                </a>
                                <a href="https://www.signalrgb.com/" target="_blank" class="learn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slides -->
                <div class="swiper-slide each2">
                    <div class="wrapper">
                        <div class="content">
                            <div class="title">NZXT cam RGB Application</div>
                            <div class="desc">
                                Manage performance, temperatures, and devices all from a single application. NZXT CAM is
                                fast, efficient, and easy-to-use, allowing you to control every aspect of your computer.
                            </div>
                            <div class="actions">
                                <a href="https://nzxt-app.nzxt.com/NZXT-CAM-Setup.exe?_gl=1*1srnu3m*_ga*NTMwNzUxOTM5LjE2NTA2MTIxMjg"
                                    target="_blank" class="download nam-product-main-btn">
                                    <img src="{{ 'window-icon.svg' | asset_url }}" />
                                    Download Application
                                </a>
                                <a href="https://nzxt.com/software/cam" target="_blank" class="learn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swipercontrols-pagination"></div>
        </div>
    </div>
</div>