<div class="popup-hero-banner">
    <div class="overlay xclose-js"></div>
    <div class="videoWrapper">
        <video autoplay loop controls class="lazy" preload="metadata" data-poster="">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/cae3c08fb5274dc9b249251951ac46bd.mp4" type="video/mp4">
        </video>

        <button class="close-btn xclose-js">
            <img src="//cdn.shopify.com/s/files/1/1759/4609/files/pop-close.svg?v=1972664831519498879">
        </button>

    </div>

</div>