<div class="page-warranty__why">
    <div class="vertagear-container -small">
        <div class="page-warranty__title page-warranty__register-title">
            {{section.settings.title}}
        </div>
        <div class="page-warranty__why-main">
            <div class="page-warranty__why-card">
                <div class="page-warranty__why-card-icon">
                    <svg class="page-warranty__why-card-icon-img" width="90.502" height="90.501" fill="none" stroke="#4e4cf7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
                        <path d="M31.058 46.67l-7.1 11.354-19.071-6.028a2.838 2.838 0 00-3.639 2.722v12.408a3.626 3.626 0 002.584 3.543 3.56 3.56 0 004.513-3.419v-4.968l16.915 6.042a4.256 4.256 0 004.838-1.456l2.376-3.166"/>
                        <path d="M42.412 49.509l11.593 14.168a7.094 7.094 0 011.5 3.283l2.632 15.194h4.855a3.549 3.549 0 013.549 3.549h0a3.548 3.548 0 01-3.549 3.549H51.836a2.839 2.839 0 01-2.783-2.282l-3.8-19.008-12.776-11.357c-5.678-4.257-1.419-9.935-1.419-9.935l11.354-21.291c2.839-4.259 7.635-3.1 9.481-2.263 2.793 1.268 10.39 7.941 10.39 7.941h12.776a4.256 4.256 0 014.258 4.259h0a4.257 4.257 0 01-4.257 4.259H59.444l-5.676-4.259-8.517 17.034"/>
                        <path d="M63.702 46.669v2.839h25.549V21.12H63.702v2.839M70.8 8.346H52.348M46.67 9.763a8.516 8.516 0 108.517-8.515 8.516 8.516 0 00-8.517 8.515zM35.315 21.121H19.702m-8.516 0H8.347m9.935 14.193H1.25M23.96 8.346H5.508"/>
                      </svg>
                </div>
                <div class="page-warranty__why-card-title">
                    Faster Support Resolutions
                </div>
                <div class="page-warranty__why-card-desc">
                    Registering your product means faster resolutions for your queries as we will have quick access to your product info.
                </div>
            </div>
            <div class="page-warranty__why-card">
                <div class="page-warranty__why-card-icon">
                    <svg class="page-warranty__why-card-icon-img" width="88.973" height="88.973" fill="none" stroke="#4e4cf7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
                        <path d="M62.283 87.251c-.742-1.193-1.028-3.35-2.774-4.162l-6.936-2.774a18.029 18.029 0 01-13.871 0l-6.936 2.776c-1.746.811-2.032 2.969-2.775 4.162M49.798 76.154c3.864-2.574 3.507-4.229 3.967-7.978a10.254 10.254 0 00-.654-6.059 7.526 7.526 0 00-4.328-3.483 9.914 9.914 0 00-6.291 0 7.532 7.532 0 00-4.328 3.483 10.239 10.239 0 00-.652 6.059c.458 3.749.1 5.4 3.965 7.978M87.251 87.251c-.742-1.193-1.028-3.35-2.775-4.162l-6.936-2.774a18.029 18.029 0 01-13.871 0M74.767 76.154c3.864-2.574 3.507-4.229 3.965-7.978a10.238 10.238 0 00-.652-6.059 7.532 7.532 0 00-4.328-3.483 9.913 9.913 0 00-6.291 0 7.536 7.536 0 00-4.33 3.483 10.269 10.269 0 00-.652 6.059c.46 3.749.1 5.4 3.967 7.978M30.379 1.25h56.873v48.549h-49.94M21.415 19.283c3.27-2.18 2.967-3.58 3.356-6.751a8.677 8.677 0 00-.552-5.126 6.378 6.378 0 00-3.663-2.947 8.388 8.388 0 00-5.325 0 6.372 6.372 0 00-3.663 2.947 8.677 8.677 0 00-.552 5.126c.389 3.171.086 4.571 3.356 6.751"/>
                        <path d="M5.412 60.899h0a4.172 4.172 0 01-4.162-4.162V33.152c0-4.16 1.028-4.738 2.774-5.547l6.939-2.775a18.034 18.034 0 0013.872 0l26.651-3.808a2.778 2.778 0 013.077 2.077l.123.5a2.774 2.774 0 01-1.948 3.347l-22.364 6.211-1.383 16.642v26.354M6.798 58.121v18.033M59.509 22.056l15.258-4.161M17.895 65.057v11.097"/>
                      </svg>
                </div>
                <div class="page-warranty__why-card-title">
                    Be in the Loop
                </div>
                <div class="page-warranty__why-card-desc">
                    Stay informed and get to know the latest promotions and product updates.
                </div>
            </div>
            <div class="page-warranty__why-card">
                <div class="page-warranty__why-card-icon">
                    <svg class="page-warranty__why-card-icon-img" width="90.501" height="90.501" fill="none" stroke="#4e4cf7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
                        <path d="M46.67 75.055H4.089a2.838 2.838 0 01-2.839-2.837V4.088a2.838 2.838 0 012.839-2.839h82.323a2.838 2.838 0 012.839 2.839v68.13a2.838 2.838 0 01-2.839 2.837h-2.839M1.25 16.862h88.001M9.767 9.024h1.481M23.59 9.024h1.481M16.679 9.024h1.481"/>
                        <path d="M29.638 26.798h51.098v8.516H29.638zM46.671 63.699H29.638V43.832h51.1v14.194M9.767 43.831h11.355M9.767 26.798h11.355"/>
                        <path d="M55.186 50.928v31.226l8.516-7.1 8.516 14.193 7.1-4.258-8.516-14.194 9.936-2.839z"/>
                      </svg>
                </div>
                <div class="page-warranty__why-card-title">
                    Easy Access to Product Article
                </div>
                <div class="page-warranty__why-card-desc">
                    Access the latest information you need easily and conveniently from our support articles.
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
  "name": "Why Register Product?",
  "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default":"Why Register Product?"
        }
    ]
  }
{% endschema %}