<div style="display:none" id="product_options_2years">
  {% for product in collections['Reviews'].products %}
  		<div data-link="https://reviews.okendo.io/stores/38ff06e6-b73e-4bec-b884-6f7a5f4ed3f1/review?productId=shopify-{{product.id}}#/" data-title="{{product.title}}"></div>
  {% endfor %}
</div>