	
		$headerFontStack: 'Lato', sans-serif;
		$headerFontWeight: 700;
		
	


		$bodyFontStack: 'Lato', sans-serif;			
			
	

/* Core Styles */

body{
	font-family: $bodyFontStack;
	color: #333333;
	background: #f8f8f8;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, .custom-font{
	font-family: $headerFontStack;
	color: #333333;	
}

a{
	color: #000000;
}

/* Main Styles */

#site-title{
	margin: 0;
	padding: 0;
}

.password--logo img{
	max-height: 300px;
	max-width: 300px;
}

.welcome-message h1{
	margin-top: 0;
}

#site-title a{
	text-decoration: none;
}

.password--wrapper{
	width: 60%;
	margin: 2% 20% 0 20%;
}

.password--logo{
	margin-bottom: 20px;
}

#password-show{
	font-size: 13px;
}

/* Password Section */

.password-wrapper{
	padding: 30px 0;
	text-align: center;
	background: #fff;
	font-size: 13.3px;
	
	background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.password--main{
    background: white none repeat scroll 0 0;
    color: black;
    left: 50%;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.password--input{
	padding: 10px;
}

.password--store-owner{
	font-size: 12px;
	margin: 30px 0 0;
}

.btn-default{
	padding: 10px;
	color: #f8f8f8;
	background: #333333;
	border: none;
}

.input-group{
	margin-top: 20px;
}

.password--close{
	position: absolute;
	right: 10px;
	top: 10px;
}

.password--close img{
	width: 30px;
}

/* Top Slider */

#site-header{
	background: #fff none repeat scroll 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
	border-bottom: 1px solid #e5e5e5;    
}

#site-header div.site-header--inner{
	padding: 40px;
}

/* Footer */

#footer {
	width: 100%;
	text-align: center;
	font-size: 13.3px;
	clear: both;
	padding-top: 15px;
}

#powered a {
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
	padding-left: 21px;
	text-decoration: none;
	color: #333333;
}

#powered a:hover {
	text-decoration: underline;
}

/* Errors */

.errors {
	background: #feebeb;
	padding: 4px 5px;
	font-size: 15px;
	color: #7e1412;
	display: inline-block;
	margin-bottom: 25px;
}

.errors ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Mobile/Tablet */

@media only screen and (max-width: 768px) {
    
    .password--wrapper{
		margin: 0;
		width: 100%;
	}
    
    .password--main {
        float: none;
        margin: 0;
        padding: 50px;
        text-align: center;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        transform: none;
    }
    
}    