<div class="page-404">
    <div class="page-404__text vertagear-container">
        <div class="page-404__text-inner">
            <div class="page-404__title">
                404<br> <span>-</span> You’re out of the Zone!
            </div>
            <div class="page-404__desc">
                Get back in the Zone to keep shopping.
            </div>
            <div class="page-404__btn-box -desktop">
                <a href="/" class="page-404__btn vertagear-btn">return home</a>
            </div>
            <picture class="page-404__img">
                <source srcSet="{{ '404-desktop.svg' | asset_url }}" media="(min-width: 768px)">
                <source srcSet="{{ '404-mobile.svg' | asset_url }}" media="(max-width: 767px)">
                <img src="{{ '404-desktop.svg' | asset_url }}" alt="title" loading="lazy">
            </picture>
            <div class="page-404__btn-box -mobile">
                <a href="/" class="page-404__btn vertagear-btn">return home</a>
            </div>
        </div>
    </div>

</div>