<link type="text/css" href="{{ 'landing-default.css' | asset_url }}" rel="stylesheet"> 

{% include 'product-navigation' %}

<style>
  .display-none-mobile {
  display: none;
}
  
  .ld-md-hero a {
  	width: 100%;
    height: 100%;
    margin-bottom: -10px;
  }
  .ld-md-hero a:hover {
  	opacity: 1;
  }
  .ld-md-hero img {
  	width: 100%;
  }
</style>
{% section 'hero' %}

{% include 'landing-evo' %}
{% section 'index-support-dark' %}

<div class="ld-featured-products-header">
  <div class="ld-featured-products-title">
    Featured Products
  </div>
  <div class="ld-featured-products-desc">
    'The Best Ergonomic Gaming Chairs' by IGN
  </div>
</div>
{% include 'collection-product-grid', products, tag: "Default" %}

{% include 'collection-bottom' %}
{% render 'product_infox' %}

{% section 'index-reviews' %}
{% section 'index-alliance' %}
