{% include "zendesk-widget" %}
<div class="page-index">
  {% section 'index-top' %}
  {% comment %}
  {% section 'index-sale' %}
  {% endcomment %}
  {% section 'index-support-dark' %}
  
  {% section 'index-signature' %}

  {% section 'index-reviews' %}
  {% comment %}
  	{% section 'index-battlestations' %}
  {% endcomment %}
  {% section 'index-alliance' %}
  
  {% section 'index-news' %}
</div>