{{ 'oct19-flash-sale.scss.css' | asset_url | stylesheet_tag }}


<div class="oct19-flash-sale">
  <div class="container_">
    <div class="section section1">
      <div class="row">
        <div class="item col-md-6 center-block">
          <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/d659232b-a160-44b5-a5c8-c8ebd405004c.jpg" class="img-responsive">
          <h3>
              Last 2 Days to Enter The RGB Gaming Chair Competition!
          </h3>
          <a href="https://gleam.io/UCMgC/rgb-gaming-chair-sweepstakes" target="_blank">Enter Today, Click Here</a>
        </div>
      </div>
    </div>
    
    
    <div class="section section2">
      <div class="row">
        <div class="item col-md-6 center-block">
          <hr>
          <h1>Plus Line</h1>
          <div class="row">
            <div class="col-sm-6">
              <a href="https://www.vertagear.com/products/pl4500-gaming-chair?view=buynow&variant=19328386138223" target="_blank">
              	<img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/00d3d999-c8ef-4559-a06a-b60d90e0137a.jpg">
              </a>
            </div>
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/pl4500-gaming-chair?view=buynow&variant=20329018130543" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/56cf459e-574a-489e-8a3c-66a70549a77d.jpg">
                </a>
            </div>
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/pl4500-gaming-chair?view=buynow&variant=12604924788847" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/39979bfe-1eb7-437a-b4d4-e7322ad47914.jpg">
                </a>
            </div>
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/pl6000-gaming-chair?view=buynow&variant=24979802437" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/499f6a55-1207-45f5-bfd1-46a1a0530e06.jpg">
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section section3">
      <div class="row">
        <div class="item col-md-6 center-block">
          <hr>
          <h1>Trigger Line</h1>
          <div class="row">
            <div class="col-sm-12">
              <a href="https://www.vertagear.com/products/triigger-line-350-special-edition-gaming-chair" target="_blank">
              	<img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/09d15f88-f159-4ead-8ae0-ece45af32770.jpg">
              </a>
            </div>
 
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/gaming-series-triigger-line-350-gaming-chair" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/cbcb1f41-b7ce-4e0d-aedf-961002959dd6.jpg">
                </a>
            </div>
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/gaming-series-triigger-line-275-gaming-chair" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/8c3d4319-714e-4d87-ad2d-3dbd6e1572cb.jpg">
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section section4">
      <div class="row">
        <div class="item col-md-6 center-block">
          <hr>
          <h1>Slim Line</h1>
          <div class="row">
            <div class="col-sm-6">
              <a href="https://www.vertagear.com/products/sl5000-gaming-chair?view=buynow&variant=19459261366383" target="_blank">
              	<img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/654a5336-c36e-48b5-b138-8f35f107d4f0.jpg">
              </a>
            </div>
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/sl5000-gaming-chair?view=buynow&variant=17455206727791" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/94ce9a43-f773-417d-9c39-49ef9783410c.jpg">
                </a>
            </div>
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/sl5000-gaming-chair?view=buynow&variant=16752481632367" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/38fa37b7-fda6-4881-93ea-f658dbb43e13.jpg">
                </a>
            </div>
            <div class="col-sm-6">
            	<a href="https://www.vertagear.com/products/sl4000-gaming-chair?view=buynow&variant=35118915653" target="_blank">
                  <img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/c7f3adac-e5df-4ab7-9c9f-702822d58f72.jpg">
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="section section5">
      <div class="row">
        <div class="item col-md-6 center-block">
          <hr>
          
          <a href="https://www.vertagear.com/" target="_blank" class="button">
            	Shop All
          	</a>
          </div>
        </div>
      </div>
    </div>
  
  
  	<div class="section section6">
      <div class="row">
        <div class="item col-md-6 center-block">
          <hr>
           <a href="https://gleam.io/UCMgC/rgb-gaming-chair-sweepstakes" target="_blank">
          	<img src="https://gallery.mailchimp.com/df46a10226ca27a07ab74f532/images/fdaaa585-8e72-4170-bec6-7c0e895e7676.jpg">
           </a>
          	
          	<a href="https://gleam.io/UCMgC/rgb-gaming-chair-sweepstakes" target="_blank" class="button">
            	Enter
          	</a>
        </div>
      </div>
    </div>
    
    
  </div>
</div>