
<script src="https://js.gleam.io/oi-mDSM8afi.js" async="async"></script>


<div class="battle-station">
    <div class="battle-station__popup -in-active -image" id="popup-image">
        <div class="battle-station__popup-bg" onclick="document.querySelector('#popup-image').classList.add('-in-active')"></div>
        <div class="battle-station__popup-center">
            <div class="battle-station__popup-close" onclick="document.querySelector('#popup-image').classList.add('-in-active')"></div>
            <img src="{{'picture-guideline.jpg' | asset_url}}" class="battle-station__popup-img" alt="Picture Guideline: show your front facing Vertagear product with our Logo, and your BattleStation set-up">
        </div>
    </div>
    <div class="battle-station__popup -in-active" id="popup-text">
        <div class="battle-station__popup-bg" onclick="document.querySelector('#popup-text').classList.add('-in-active')"></div>
        <div class="battle-station__popup-center">
            <div class="battle-station__popup-close" onclick="document.querySelector('#popup-text').classList.add('-in-active')"></div>
            <div class="battle-station__popup-title">Terms & Conditions: </div>
            <div class="battle-station__popup-content">
                <p>Picture(s) can only be submitted once.</p>
                <p><b>By submitting your information and image(s) you are stating:</b></p>
                <ul>
                    <li>You are the original owner of the Vertagear chair in the picture(s)</li>
                    <li>This is your set-up</li>
                    <li>Vertagear is authorized to republish
                        your image(s), first name/last
                        initial/ gamer name on our website,
                        social media, advertising,
                        promotional media and related
                        third-party platforms without
                        compensation or notification.
                        Vertagear will reject incorrect or
                        incomplete information, duplicate,
                        fraudulent, suspicious or
                        misrepresentations, or images
                        below our size or quality
                        requirements.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="battle-station__top">
        <img src="{{'battle-station-desktop.jpg' | asset_url }}" class="battle-station__top-bg -desktop" alt>
        <img src="{{'battle-station-mobile.jpg' | asset_url }}" class="battle-station__top-bg -mobile" alt>
        <div class="battle-station__top-text">
            <div class="battle-station__top-text-center">
                <div class="battle-station__top-slogan">Show Off Your</div>
                <div class="battle-station__top-title">Battlestation!</div>
                <div class="battle-station__top-desc">
                    Show your BattleStation to us and all our followers! Add your picture(s) with the Add Your Own button below or tag it with #VGBATTLESTATION on Instagram.<br><br>Be sure to show your new Vertagear product with your BattleStation; example, <span class="battle-station__top-desc-link" onclick="document.querySelector('#popup-image').classList.remove('-in-active')">HERE.</span>
                </div>
                <div class="battle-station__top-link">
                    Terms and conditions <span class="battle-station__top-link-a" onclick="document.querySelector('#popup-text').classList.remove('-in-active')">HERE.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="battle-station__gallery">
        <div class="battle-station__gallery-title">
            Battlestations Gallery
        </div>
        <div class="battle-station__gallery-wrap">
            <div class="yotpo yotpo-pictures-widget" data-gallery-id="5ef3f5f168cbdb07f990ee50"></div>
        </div>
    </div>
</div>


