<div class="hygennx-page">
{% section 'hygennx-top' %}
{% section 'hygennx-friendly' %}
{% section 'hygennx-important' %}
{% section 'hygennx-work' %}
{% section 'hygennx-feature' %}
{% section 'hygennx-product' %}  
</div>