
<script src="https://js.gleam.io/oi-mDSM8afi.js" async="async"></script>
{{ 'page-battle-station-photo-contest.scss.css' | asset_url | stylesheet_tag }}

<div class="contest-hero">
  <div class="grid-container">
    <h2>Sponsored By Vertagear</h2>
    <h1>Battle Station Photo Contest</h1>
  </div>
</div>

<div class="gleamio-embed">
  <div data-gallery-embed='YXqVe'></div>
</div>