<div class="text-page vertagear-container -small">
  <h1 class="text-page__title">{{page.title}}</h1>
  <div data-oke-media-carousel data-oke-reviews-autoplay="true" data-oke-reviews-arrow-position="inside" data-oke-reviews-slide-link-text="Read More" data-oke-reviews-min-images="1" data-oke-reviews-slide-size="x-large"></div>
</div>