{% section 'student-discount' %}
{% comment %}
{{ 'student-discount.scss.css' | asset_url | stylesheet_tag }}
<div class='program_hero'>
  <img class='desktop' src='{{ 'bts-banner.jpg' | asset_url }}' />
</div>

<div class='content_form'>
  <div class='container'>
    <center>
      <h1 class='heading'>Vertagear Student Program</h1>
      <h2 class='no_bold'>Game Hard, Study Comfortably</h2>
      </center>
    <div class='discount_form'>
      <img src='{{ 'register_image.png' | asset_url }}' />
      <form id="studentdiscount" class="vfyps_edu">
        <input type="submit" value="GET YOUR DISCOUNT CODE"  style="pointer-events:none">
      </form>
    </div>
    <div class='content'>
      <p>
        Learning is a lifelong journey. As a student, you face challenges every day, both in and 
        out of the classroom. With our new Student Program, we're here to aid you in your
        quest for education and gaming by providing you easy access to our
        award-winning products. Whether you're studying or grinding through games, feel at
        ease in our ergonomic gaming chairs.
      </p>
      <br />
      <p>
        Upon uploading a valid student ID, you'll be given a unique discount code that'll give you an instant 20% off your purchase. Simply register and upload your valid student ID. You'll become a part of a students-only club that gives you access to savings
        and allows you to be first in line for giveaways and promotions.
      </p>
    </div>
  </div>
</div>
<div class='terms_conditions'>
  <div class='container'>
    <div class='terms'>
    <h2>Terms & Conditions</h2>
      <ul>
<li>This program is only applicable to students in the United States.</li>
<li>Open to qualified program participants with a valid college/university ID.</li>
<li>Each Vertagear Student Program discount offer may only be used once and cannot be combined with other programs, promotions, or offers.</li>
<li>Vertagear reserves the right to withdraw, terminate, or amend the terms of sale at any time.</li>
        <li>After verification, you'll receive a <b>one-time discount code</b> to apply during checkout.</li>
      </ul>
    </div>
  </div>
</div>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('o0z4q', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=o0z4q&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=o0z4q&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>

{% endcomment %}