{% comment %}
{% layout "CMSPRO.theme.522" %} {{ page.content }}
{% endcomment %}

<div class="page-warranty">
    {% section 'warranty-top' %}
    {% section 'warranty-register' %}
    {% section 'warranty-why' %}
    {% section 'warranty-duration' %}
    {% section 'warranty-faq' %}
</div>
{% section 'page-bottom-nav' %}